.currency-page-container {
  margin-top: -20px;
}

.navbar-currency-container {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
  @media screen and (max-width: 576px) {
    height: 38px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    backface-visibility: hidden;
  }
  .navbar-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      padding: 0 5px;
      width: 100%;
    }
    .navbar-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      margin-top: 0;
      .navbar-item {
        display: inline-block;
        a {
          color: #222;
          font-size: 13px;
          padding: 10px 6px;
          display: block;
          &:hover {
            background-color: #ffe797;
            text-decoration: none;
            color: #005cef;
          }
        }
      }
    }
  }
}

.currency-body {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  @media screen and (max-width: 576px) {
    padding: 0 20px;
    margin-top: 24px;
  }
}

.currency-description {
  .main-title {
    font-size: 24px;
    font-weight: 500;
    color: #061890;
    margin-top: 12px;
    margin-bottom: 8px;
    small {
      font-size: 65%;
      font-weight: 400;
      color: #757575;
    }
  }
}

.text-currency {
  font-size: 14px;
  margin-bottom: 10px;
}

.table-currency-container {
  .currency-table-data {
    font-size: 14px;
    margin-bottom: 0;
    thead {
      th {
        padding: 8px;
        color: #061890;
        font-size: 14px;
        text-align: right;
        border: 1px solid #e9ecef;
        &:nth-child(1), &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(1) {
          @media screen and(max-width: 576px) {
            border-left: none;
          }
        }
        @media screen and(max-width: 576px) {
          white-space: nowrap;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #f2f9ff;
        }
        td {
          text-align: right;
          padding: 8px;
          border: 1px solid #e9ecef;
          &:nth-child(1), &:nth-child(2) {
            text-align: left;
          }
          &:nth-child(1) {
            @media screen and(max-width: 576px) {
              border-left: none;
            }
          }
          @media screen and(max-width: 576px) {
            border-bottom: none;
            white-space: nowrap;
          }
          img {
            width: 16px;
            margin-right: 5px;
            vertical-align: text-bottom;
            display: inline-block;
          }
          a {
            color: #005cef;
            text-decoration: none;
            &.currency-link {
              span {
                padding-right: 4px;
              }
              small {
                color: #757557;
                font-size: 85%;
              }
            }
          }
          .text-percent {
            color: #212529;
            &.text-increase {
              color: #00b600;
            }
            &.text-decrease {
              color: #fb0000;
            }
          }
          &.empty-data {
            .spinner {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 150Px;
            }
          }
        }
      }
    }
  }
  .table-responsive {
    @media screen and(max-width: 576px) {
      border: 1px solid #ddd;
    }
  }
}

.currency-pagination {
  text-align: center;
  .total-page {
    margin-bottom: 0;
    color: #222;
    font-size: 14px;
    margin-top: 20px;
  }
  .pagination-container {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    > li {
      display: inline;
      > a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        &:hover {
          z-index: 2;
          color: #23527c;
          background-color: #eee;
          border-color: #ddd;
        }
      }
      &:first-child {
        > a {
          margin-left: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; 
        }
      }
      &:last-child {
        > a {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      &.active {
        > a {
          z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
        }
      }
    }
  }
  .page-link:focus {
    outline: none;
    box-shadow: none;
  }
  .pagination-list {
    width: fit-content;
    margin: 20px auto;
  }
}

.bread-scrum-post-page {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 24px;
  a {
    color: #141414;
    &:hover {
      color: #141414;
    }
  }
  span {
    color: #616161;
    @media(max-width: 768px) {
      // display: none;
    }
  }
  .bread-scrum-divider {
    color: #141414;
    margin: 0 12px;
    @media(max-width: 768px) {
      &.post {
        display: none;
      }
    }
  }
  @media(max-width: 768px) {
    margin-bottom: 16px;
  }
}

.unit-currency {
  text-align: right;
  font-weight: 600;
  font-style: italic;
  color: red;
  margin-right: 12px;
}

.box-update-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-choose-unit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 16px;
  .unit-container {
    display: flex;
    align-items: center;
    .unit-item {
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #007bff;
      font-size: 14px;
      color: #007bff;
      padding: 4px 0;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center ;
      &.active {
        background-color: #007bff;
        color: #ffffff;
        border-color: transparent;
        cursor: not-allowed;
      }
      &:nth-child(1) {
        border-radius: 8px 0px 0px 8px;
      }
      &:nth-child(2) {
        border-radius: 0px 8px 8px 0px;
      }
      img {
        margin-right: 4px;
      }
    }
  }
}