
.currency-detail-page-container {
  margin-top: -20px;
  @media screen and (max-width: 576px) {
    margin-top: 0;
    .bread-scrum-post-page {
      padding: 0 20px;
    }
  }
}
.currency-detail-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  @media screen and (max-width: 576px) {
    padding: 0 20px;
  }
}

.currency-detail {
  margin-top: 15px;
  @media screen and (max-width: 576px) {
    margin-top: 0;
  }
  .title-currency {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #000;
    margin-bottom: 40px;
    @media screen and (max-width: 576px) {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 8px;
    }
  }
}

.coin-logo {}

.coin-info {
  .coin-info-name {
    color: #061890;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    small {
      font-size: 65%;
      font-weight: 400;
      color: #757575;
    }
  }
  a {
    margin: 5px 0;
  }
  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.coin-price {
  .price-text {
    font-size: 28px;
    color: #222;
    &.text-green {
      color: #00b600;
    }
    &.text-red {
      color: #fb0000;
    }
  }
  .text-gray {
    font-size: 85%;
    color: gray;
  }
}

.table-container-currency-detail {
  .currency-table-detail {
    margin: 0;
    tbody {
      tr {
        th {
          padding: 7px;
          border-top: 1px solid #ddd;
          border-color: #e9ecef;
          color: #061890;
          font-size: 14px;
          text-align: left;
          vertical-align: middle;
        }
        td {
          padding: 7px;
          font-size: 14px;
          span {
            &.text-green {
              color: #00b600;
            }
            &.text-red {
              color: #fb0000;
            }
          }
        }
        &:nth-of-type(odd) {
          background-color: #f2f9ff;
        }
      }
    }
  }
}

.description-currency {
  padding-top: 20px;
  margin-bottom: 10px;
}

.description-currency {
  margin-bottom: 10px;
}

.coin-chart {
  width: 100%;
  height: 500px;
  @media screen and (max-width: 576px) {
    padding: 0 20px;
  }
}

.text-currency-detail {
  font-size: 16px;
  margin-bottom: 10px;
  .text-green {
    color: #00b600;
  }
  .text-red {
    color: #fb0000;
  }
}