.block-content-page {
  max-width: 1200px;
  margin: auto;
  margin-top: 24px;
  @media(max-width: 768px) {
    padding: 0 20px;
  }
  .content-page-detail-left {
    // padding-right: 24px;
    @media(max-width: 768px) {
      // padding-right: 15px;
    }
    .box-info-author {
      display: flex;
      height: 50px;
      margin-bottom: 40px;
      .info-author-left{
        .box-info-author-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        }
      }
      .info-author-right {
        margin-left: 16px;
        .info-author-public {
          //font-family: Open Sans;
          font-style: italic;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.67);
          margin-bottom: 4px;
          @media(max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .info-author-name {
          //font-family: Open Sans;
          font-style: italic;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.67);
          .info-author-name-link {
            color: #000000;
            &:hover {
              // text-decoration: #000000;
            }
          }
        }
      }
    }
    .image-cover-article {
      margin-bottom: 30px;
    }
    .box-article-html {
      // display: flex;
      position: relative;
      .box-share-artilce {
        position: absolute;
        top: 0;
        bottom: 0;
        @media(max-width: 992px) {
          display: none;
        }
        .box-share-artilce-stiky{
          position: -webkit-sticky;
          position: sticky;
          top: 90px;
          bottom: 0;
          -webkit-transition: visibility 0s linear 0s, opacity .3s 0s;
          transition: visibility 0s linear 0s, opacity .3s 0s;
          .box-share-artilce-item {
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .render-html-page {
        margin-left: 100px;
        @media(max-width: 768px) {
          margin-left: 0;
        }
        h1, h2, h3 {
          font-weight: bold;
        }
        h3 {
          font-size: 1.65rem;
        }
        p {
          line-height: 1.7;
        }
        .wp-block-image {
          img {
            width: 100%;
          }
        }
        figcaption {
          color: rgba(0, 0, 0, 0.68);
          font-size: .9375rem;
          font-weight: 400;
          line-height: 1.4;
          margin-top: 10px;
          text-align: center;
        }
        figure {
          &.kg-card.kg-embed-card {
            iframe {
              width: 100% !important;
              height: 280px !important;
            }
          }
          &.kg-card.kg-embed-card.kg-card-hascaption {
            iframe {
              width: 100% !important;
              height: 700px !important;
            }
          }
        }
        table {
          width: 100% !important;
          &.picture {
            width: 100% !important;
          }
        }
        .tradingview-widget-container {
          width: 100% !important;
          iframe {
            width: 100% !important;
            height: 470px !important;
          }
        }
      }
      .box-share-mobile {
        // @media(min-width: 993px) {
        //   display: none;
        // }
        display: none;
        position: fixed;
        z-index: 100;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        .share-mobile-block {
          background-color: #FFFFFF;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          .share-mobile-block-item {
            margin-right: 16px;
            &:last-child {
              margin-right: 0;
            }
            .box-mobile-share-contain {
              border-radius: 8px;
              width: 100px;
              height: 27px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.facebook {
                background: #3B5998;
              }
              &.tweet {
                background: #1277C9;
              }
              &.send {
                background: #64D448;
              }
              .image-share-mobile {
                margin-right: 8px;
              }
              .text-share-mobile {
                //font-family: Open Sans;
                font-size: 14px;
                line-height: 19px;
                color: var(--textWhite);
              }
            }
          }
        }
      }
    }
    .content-page-detail-left-title {
      //font-family: Open Sans;
      font-weight: bold;
      font-size: 40px;
      line-height: 54px;
      color: #000000;
      margin-bottom: 40px;
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 32px;
      }
    }
    .inner-html {
      table {
        &.picture {
          width: 100% !important;
        }
      }
    }
  }
}