$colors-feature-text-list: #e2efff #f0ffc7 #e2fff8 #ffe5fe #ffefe4 #fefbbe;

.homepage-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 16px;
  @media (max-width: 1080px) {
    padding: 0 20px;
  }
  > .row {
    // margin: 0;
  }
}

.block-article-homepage {
  @media (max-width: 991px) {
    display: none;
  }
  .article-full {
    padding-right: 0;
    padding-right: 4px;
    @media (max-width: 991px) {
      padding-right: 15px;
    }
    .block-article-full-item {
      position: relative;
      height: 464px;
      @media (max-width: 768px) {
        height: 240px;
      }
      a.image-optimize-tag-link {
        // display: inline-block;
        > div:first-child {
          position: unset !important;
        }
      }
      > a > img {
        object-fit: cover;
      }
      .lazyload-wrapper {
        width: 100%;
        height: 100%;
      }
      .article-full-item-image-large {
        display: block;
        @media (max-width: 992px) {
          display: none;
        }
      }
      .article-full-item-image-small {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
      }
      .background-front-article {
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 100%;
      }
      .article-full-item-detail {
        padding: 0 32px 16px 32px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        @media (max-width: 991px) {
          padding: 0 16px 8px 16px;
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .article-full-detail-category {
          padding: 6px 12px;
          width: fit-content;
          background: linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%),
            linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%);
          border-radius: 4px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          margin-bottom: 16px;
          @media (max-width: 991px) {
            font-size: 10px;
            line-height: 14px;
            padding: 4px 8px;
            margin-bottom: 10px;
          }
        }
        .article-full-detail-description {
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: #ffffff;
          margin-bottom: 16px;
          @media (max-width: 991px) {
            font-size: 16px;
            line-height: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        .article-full-detail-time-create {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          margin-bottom: 0;
          @media (max-width: 991px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
    }
  }
  .article-half {
    padding-left: 0;
    padding-left: 4px;
    padding-right: 0;
    @media (max-width: 991px) {
      padding-left: 15px;
      padding-right: 0;
      padding-top: 15px;
    }
    .block-article-half-item {
      max-height: 232px;
      height: 100%;
      @media (max-width: 768px) {
        max-height: 136px;
      }
      .lazyload-wrapper {
        width: 100%;
        height: 100%;
      }
      .article-half-item-detail {
        padding: 0 24px 12px 24px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        @media (max-width: 991px) {
          padding: 0 8px 8px 8px;
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .article-half-detail-category {
          padding: 6px 12px;
          width: fit-content;
          background: linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%),
            linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%);
          border-radius: 4px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          margin-bottom: 8px;
          @media (max-width: 991px) {
            font-size: 10px;
            line-height: 14px;
            padding: 4px 8px;
            margin-bottom: 8px;
          }
        }
        .article-half-detail-description {
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          margin-bottom: 8px;
          @media (max-width: 991px) {
            font-size: 10px;
            line-height: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-bottom: 0;
          }
        }
        .article-half-detail-time-create {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          margin-bottom: 0;
          @media (max-width: 991px) {
            position: absolute;
            top: calc(5.6px / 2);
            right: 8px;
          }
        }
      }
    }
    .block-article-half-item:nth-child(1) {
      padding-right: 0;
      padding-bottom: 4px;
      @media (max-width: 991px) {
        padding-bottom: 0px;
      }
      .background-front-article {
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
        width: calc(100% - 15px);
        height: calc(100% - 4px);
        @media (max-width: 991px) {
          height: 100%;
        }
      }
    }
    .block-article-half-item:nth-child(2) {
      padding-right: 0;
      padding-top: 4px;
      @media (max-width: 991px) {
        padding-top: 0px;
      }
      .background-front-article {
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
        width: calc(100% - 15px);
        height: 100%;
      }
    }
  }
}

.article-swiper-mobile {
  position: relative;
  @media (min-width: 992px) {
    display: none;
  }
  .article-swiper-mobile-contain {
    position: unset;
    .swiper-pagination {
      bottom: -24px;
      z-index: unset;
    }
    .article-mobile-swiper-item {
      .block-article-full-item {
        position: relative;
        height: 464px;
        @media (max-width: 768px) {
          height: 240px;
        }
        > a > img {
          object-fit: cover;
        }
        .lazyload-wrapper {
          width: 100%;
          height: 100%;
        }
        .article-full-item-image-large {
          display: block;
          @media (max-width: 992px) {
            display: none;
          }
        }
        .article-full-item-image-small {
          display: none;
          @media (max-width: 991px) {
            display: block;
          }
        }
        .background-front-article {
          position: absolute;
          top: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
          width: 100%;
          height: 100%;
        }
        .article-full-item-detail {
          padding: 0 32px 16px 32px;
          position: absolute;
          bottom: 0;
          z-index: 1;
          @media (max-width: 991px) {
            padding: 0 16px 8px 16px;
          }
          a {
            &:hover {
              text-decoration: none;
            }
          }
          .article-full-detail-category {
            padding: 6px 12px;
            width: fit-content;
            background: linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%),
              linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%);
            border-radius: 4px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            margin-bottom: 16px;
            @media (max-width: 991px) {
              font-size: 10px;
              line-height: 14px;
              padding: 4px 8px;
              margin-bottom: 10px;
            }
          }
          .article-full-detail-description {
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
            color: #ffffff;
            margin-bottom: 16px;
            @media (max-width: 991px) {
              font-size: 16px;
              line-height: 22px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
          }
          .article-full-detail-time-create {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            margin-bottom: 0;
            @media (max-width: 991px) {
              font-size: 10px;
              line-height: 14px;
            }
            // @media(max-width: 768px) {
            //   display: none;
            // }
          }
          .article-full-detail-time-create-mobile {
            display: none;
            @media (max-width: 768px) {
              display: unset;
              font-weight: 600;
              font-size: 10px;
              line-height: 14px;
              color: #ffffff;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.block-view-more-tool {
  max-width: 1200px;
  margin: auto;
  // margin-top: 80px;
  background: #ffffff;
  border-radius: 8px;
  padding: 0;
  @media (max-width: 768px) {
    margin-top: 0px;
    padding: 40px 20px;
    padding-bottom: 0;
  }
  .view-more-tool-title {
    // //font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.67);
    text-align: center;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }
  .view-more-tool-item {
    .view-more-tool-item-detail {
      display: flex;
      @each $current-color in $colors-feature-text-list {
        $i: index($colors-feature-text-list, $current-color);
        &:nth-last-of-type(#{$i}) {
          .box-link-icon .item-detail-box {
            background: nth($colors-feature-text-list, $i);
          }
        }
      }
      @media (max-width: 768px) {
        padding: 0;
        padding-bottom: 32px;
        &:nth-child(n + 4) {
          padding-bottom: 0;
        }
      }
      .box-link-icon {
        width: 100%;
        max-width: 143px;
        // background-color: #483FA8;
        display: inline-block;
        margin: 0 auto;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        @media (max-width: 768px) {
          max-width: 108px;
        }
        @media (max-width: 380px) {
          max-width: 98px;
        }

        &:hover {
          text-decoration: none;
        }
        .item-detail-box {
          height: 143px;
          width: 100%;
          border-radius: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 768px) {
            height: 108px;
            > div {
              width: 56px !important;
              height: 56px !important;
            }
          }
        }
        .desciption-image {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          margin: 0;
          margin-top: 16px;
          color: rgba(0, 0, 0, 0.67);
          @media (max-width: 768px) {
            font-size: 13px;
            line-height: 21px;
          }
        }
        &:hover {
          -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
          .item-detail-box {
            -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
          }
          // margin-bottom: -20px;
        }
      }

      // &:nth-child(n + 4) {
      //   margin-top: 40px;
      // }
      // .item-detail-box {
      //   padding: 1rem;
      //   padding: 2px;
      //   background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
      //   border-radius: 40px;
      //   width: 100%;
      //   max-width: 350px;
      //   @media(max-width: 768px) {
      //     display: none;
      //   }
      //   .item-detail-box-border {
      //     padding: 0 24px;
      //     height: 44px;
      //     background: #F7FAFD;
      //     color: #483FA8;
      //     display: flex;
      //     align-items: center;
      //     justify-content: space-between;
      //     border-radius: 40px;
      //     .view-more-tool-item-detai-text {
      //       //font-family: Open Sans;
      //       font-weight: 600;
      //       font-size: 16px;
      //       line-height: 24px;
      //       margin: 0;
      //     }
      //     .border-box-image {

      //     }
      //   }
      // }
      // .item-detail-box-moblie {
      //   display: none;
      //   @media(max-width: 768px) {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //   }
      //   .item-detail-box-moblie-text {
      //     //font-family: Open Sans;
      //     font-weight: 600;
      //     font-size: 12px;
      //     line-height: 18px;
      //     color: #483FA8;
      //     margin: 0;
      //     margin-top: 8px;
      //     text-align: center;
      //   }
      // }
    }
  }
}

.divider-homepage {
  margin: 56px 0;
  background-color: #e9e9e9;
  height: 1px;
  width: 100%;
  @media (max-width: 991px) {
    margin: 40px 0;
  }
}

.block-body-homepage {
  .block-body-left {
    .box-divider-custom {
      padding-right: 0;
      @media (max-width: 768px) {
        padding-right: 15px;
      }
      .title-block-update-interest {
        // height: 48px;
        // max-width: fit-content;
        // padding: 0 36px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: var(--primaryOrange);
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 6px;
        border-radius: 2px;
        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 19px;
          // height: 36px;
          padding: 0 24px;
          padding-left: 0;
        }
      }
      .divide-title-block {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 24px;
        @media (max-width: 768px) {
          // display: none;
        }
      }
    }

    .block-article-first {
      .article-first-item {
        padding-right: 0;
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
        @media (max-width: 991px) {
          padding-right: 15px;
          flex-direction: row;
          margin-bottom: 16px;
        }
        > a:hover {
          text-decoration: none;
        }
        .article-first-item-box-image {
          max-width: 260px;
          // max-height: 182px;
          height: 160px;
          max-height: 160px;
          @media (max-width: 768px) {
            min-width: 130px;
            max-width: 130px;
            min-height: 80px;
            max-height: 80px;
          }
          .lazyload-wrapper {
            .article-item-detail-image {
              width: 260px;
              max-width: 260px;
              // max-height: 182px;
              height: 160px;
              max-height: 160px;
              // object-fit: cover;
              // object-position: center;
              display: block;
              @media (max-width: 768px) {
                width: 130px;
                max-width: 130px;
                height: 80px;
                max-height: 80px;
              }
            }
            // .article-item-detail-image-small {
            //   display: none;
            //   object-fit: cover;
            //   object-position: center;
            //   width: 130px;
            //   max-width: 130px;
            //   height: 80px;
            //   max-height: 80px;
            //   @media(max-width: 991px) {
            //     display: block;
            //   }
            // }
          }
        }
        .article-first-item-box-content {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          @media (max-width: 768px) {
            margin-left: 16px;
          }
          .article-item-detail-tag {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 14px;
            // display: flex;
            // align-items: center;
            @media (max-width: 768px) {
              margin-top: 0;
              margin-bottom: 4px;
              // flex-direction: row-reverse;
              // justify-content: flex-end;
            }
            .article-item-detail-tag-name {
              font-size: 0.8125rem;
              font-weight: 500;
              line-height: 1;
              text-transform: uppercase;
              color: #17181e;
              &:hover {
                text-decoration: none;
                color: #888;
              }
              @media (max-width: 768px) {
                font-size: 0.6125rem;
                // margin-top: 0;
              }
            }
            .article-item-detail-tag-seprator {
              font-size: 0.8125rem;
              margin-left: 4px;
              margin-right: 4px;
              &::before {
                content: "/";
              }
              @media (max-width: 768px) {
                font-size: 0.6125rem;
              }
            }
            .article-item-detail-tag-date {
              font-size: 0.8125rem;
              font-weight: 400;
              line-height: 1.4;
              text-transform: lowercase;
              color: #888;
              @media (max-width: 768px) {
                font-size: 0.6125rem;
                // display: none;
              }
            }
            .article-item-detail-tag-date-mobile {
              display: none;
              @media (max-width: 768px) {
                display: unset;
                font-size: 0.6125rem;
                font-weight: 400;
                line-height: 1.4;
                text-transform: uppercase;
                color: #888;
              }
            }
          }
          .article-item-detail-text {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            margin: 0;
            margin-top: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 768px) {
              margin-top: 8px;
            }
          }
          .article-item-detail-excerpt {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 19px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #505050;
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
      .article-first-item:nth-child(n + 6) {
        margin-bottom: 0px;
      }
    }
    .block-update-interest {
      margin-top: 60px;
      .update-interest-contain {
        padding-right: 0;
        @media (max-width: 768px) {
          padding-right: 15px;
        }
        .title-block-update-interest {
          // height: 48px;
          // max-width: fit-content;
          // padding: 0 36px;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // background-color: var(--primaryOrange);
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          margin-bottom: 6px;
          border-radius: 2px;
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 19px;
            // height: 36px;
            padding: 0 24px;
            padding-left: 0;
          }
          @media (max-width: 480px) {
            font-size: 12px;
            line-height: 17px;
          }
        }
        .divide-title-block {
          height: 2px;
          background-color: var(--divideOrange);
          @media (max-width: 768px) {
            // display: none;
          }
        }
        .update-interest-data {
          margin-top: 24px;

          &:hover {
            text-decoration: none;
          }
          display: inline-block;
          margin-bottom: 32px;
          &:last-child {
            margin-bottom: 0;
          }
          @media (max-width: 768px) {
            margin-bottom: 20px;
          }
          .update-interest-data-item {
            display: flex;
            // margin-bottom: 32px;
            // &:last-child {
            //   margin-bottom: 0
            // }
            // @media(max-width: 768px) {
            //   margin-bottom: 20px;
            // }
            margin-bottom: 32px;
            &:last-child {
              margin-bottom: 0;
            }
            @media (max-width: 768px) {
            }
            .image-tag-link {
              min-width: 330px;
              width: 100%;
              max-width: 330px;
              @media (max-width: 768px) {
                max-width: 130px;
                min-width: 130px;
                min-height: 80px;
                max-height: 80px;
              }
            }
            .update-interest-data-item-image {
              // max-width: 330px;
              height: 198px;
              object-fit: cover;
              object-position: center;
              // display: block;
              // @media(max-width: 992px) {
              //   display: none;
              // }
              @media (max-width: 768px) {
                max-width: 130px;
                max-height: 80px;
              }
            }
            // .update-interest-data-item-image-small {
            //   object-fit: cover;
            //   object-position: center;
            //   max-width: 130px;
            //   max-height: 80px;
            //   display: none;
            //   @media(max-width: 991px) {
            //     display: block;
            //   }
            // }
            .update-interest-data-item-text {
              margin-left: 40px;
              @media (max-width: 768px) {
                margin-left: 16px;
              }
              a {
                &:hover {
                  text-decoration: none;
                }
              }
              .article-item-detail-tag {
                margin-bottom: 16px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media (max-width: 768px) {
                  margin-bottom: 8px;
                }
                .article-item-detail-tag-name {
                  font-size: 0.8125rem;
                  font-weight: 500;
                  line-height: 1;
                  text-transform: uppercase;
                  color: #17181e;
                  &:hover {
                    text-decoration: none;
                    color: #888;
                  }
                }
                .article-item-detail-tag-seprator {
                  font-size: 0.8125rem;

                  margin-left: 4px;
                  margin-right: 4px;
                  &::before {
                    content: "/";
                  }
                }
                .article-item-detail-tag-date {
                  font-size: 0.8125rem;
                  font-weight: 400;
                  line-height: 1.4;
                  text-transform: lowercase;
                  color: #888;
                  @media (max-width: 768px) {
                    font-size: 0.6125rem;
                    // display: none;
                  }
                }
                .article-item-detail-tag-date-mobile {
                  display: none;
                  @media (max-width: 768px) {
                    display: unset;
                    font-size: 0.8125rem;
                    font-weight: 400;
                    line-height: 1.4;
                    text-transform: uppercase;
                    color: #888;
                  }
                }
              }
              .update-interest-data-item-text-title {
                //font-family: Open Sans;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 16px;
                color: #000000;
                @media (max-width: 768px) {
                  margin-bottom: 0;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 14px;
                  line-height: 27px;
                }
              }
              .update-interest-data-item-text-descripton {
                font-size: 14px;
                line-height: 21px;
                color: #505050;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                margin-bottom: 0;
                @media (max-width: 768px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .block-article-second {
      .article-second-item {
        padding-right: 0;
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
        @media (max-width: 991px) {
          padding-right: 15px;
          flex-direction: row;
          margin-bottom: 16px;
        }
        > a:hover {
          text-decoration: none;
        }
        .article-second-item-box-image {
          .lazyload-wrapper {
            .article-item-detail-image {
              max-width: 260px;
              // max-height: 182px;
              height: 160px;
              max-height: 160px;
              object-fit: cover;
              object-position: center;
              // display: block;
              // @media(max-width: 992px) {
              //   display: none;
              // }
              @media (max-width: 768px) {
                width: 130px;
                max-width: 130px;
                height: 80px;
                max-height: 80px;
              }
            }
            // .article-item-detail-image-small {
            //   display: none;
            //   object-fit: cover;
            //   object-position: center;
            //   width: 130px;
            //   max-width: 130px;
            //   height: 80px;
            //   max-height: 80px;
            //   @media(max-width: 991px) {
            //     display: block;
            //   }
            // }
          }
        }
        .article-second-item-box-content {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          @media (max-width: 768px) {
            margin-left: 16px;
          }
          .article-item-detail-tag {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 14px;
            @media (max-width: 768px) {
              margin-top: 0;
              margin-bottom: 4px;
            }
            .article-item-detail-tag-name {
              font-size: 0.8125rem;
              font-weight: 500;
              line-height: 1;
              text-transform: uppercase;
              color: #17181e;
              &:hover {
                text-decoration: none;
                color: #888;
              }
              @media (max-width: 768px) {
                font-size: 0.6125rem;
              }
            }
            .article-item-detail-tag-seprator {
              font-size: 0.8125rem;
              margin-left: 4px;
              margin-right: 4px;
              &::before {
                content: "/";
              }
              @media (max-width: 768px) {
                font-size: 0.6125rem;
              }
            }
            .article-item-detail-tag-date {
              font-size: 0.8125rem;
              font-weight: 400;
              line-height: 1.4;
              text-transform: lowercase;
              color: #888;
              @media (max-width: 768px) {
                font-size: 0.6125rem;
                // display: none;
              }
            }
            .article-item-detail-tag-date-mobile {
              display: none;
              @media (max-width: 768px) {
                display: unset;
                font-size: 0.6125rem;
                font-weight: 400;
                line-height: 1.4;
                text-transform: uppercase;
                color: #888;
              }
            }
          }
          .article-item-detail-text {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            margin: 0;
            margin-top: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 768px) {
              margin-top: 8px;
            }
          }
          .article-item-detail-excerpt {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 19px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #505050;
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
      .article-second-item:nth-child(n + 6) {
        margin-bottom: 0px;
      }
    }
    .block-article-multi-category {
      margin-right: -30px;
      @media (max-width: 768px) {
        margin-right: 0;
      }
      .block-article-multi-category-item {
        margin-bottom: 56px;
        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
        &:nth-child(odd) {
          padding-right: 39px;
          border-right: 1px solid #e9e9e9;
          @media (max-width: 768px) {
            padding-right: 0px;
            border: none;
          }
        }
        &:nth-child(even) {
          padding-left: 40px;
          @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 0;
          }
        }
        .highlight-category-name {
          // height: 48px;
          max-width: 180px;
          width: 100%;
          // display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          // background-color: var(--primaryOrange);
          margin-bottom: 6px;
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 19px;
          }
          a {
            text-decoration: none;
            color: #000000;
          }
        }
        .divide-highlight-category {
          height: 2px;
          background-color: var(--divideOrange);
        }
        .article-item-by-category {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          margin-top: 24px;
          @media (max-width: 768px) {
            margin-top: 16px;
          }
          .article-item-top {
            .article-item-detail-tag {
              margin-top: 8px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              .article-item-detail-tag-name {
                font-size: 0.8125rem;
                font-weight: 500;
                line-height: 1;
                text-transform: uppercase;
                color: #17181e;
                &:hover {
                  text-decoration: none;
                  color: #888;
                }
              }
              .article-item-detail-tag-seprator {
                font-size: 0.8125rem;

                margin-left: 4px;
                margin-right: 4px;
                &::before {
                  content: "/";
                }
              }
              .article-item-detail-tag-date {
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1.4;
                text-transform: lowercase;
                color: #888;
                @media (max-width: 768px) {
                  // font-size: .6125rem;
                  // display: none;
                }
              }
              .article-item-detail-tag-date-mobile {
                display: none;
                @media (max-width: 768px) {
                  display: unset;
                  font-size: 0.8125rem;
                  font-weight: 400;
                  line-height: 1.4;
                  text-transform: uppercase;
                  color: #888;
                }
              }
            }
            .lazyload-wrapper {
              .article-item-top-image {
                // max-width: 373px;
                height: 224px;
                width: 100%;
                min-height: 224px;
                max-height: 224px;
                object-fit: cover;
                object-position: center;
                // display: block;
                // @media(max-width: 992px) {
                //   display: none;
                // }
                @media (max-width: 768px) {
                  // max-width: 127px;
                }
              }
              // .article-item-top-image-small {
              //   display: none;
              //   @media(max-width: 992px) {
              //     display: block;
              //   }
              // }
            }
            .article-item-top-text {
              font-weight: bold;
              font-size: 18px;
              line-height: 27px;
              margin: 0;
              margin-top: 8px;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #000000;
              @media (max-width: 768px) {
                font-size: 14px;
                line-height: 26px;
                margin-top: 12px;
              }
            }
          }
          .article-item-normal {
            .article-item-normal-list {
              list-style: none;
              padding-left: 0;
              margin-bottom: 0;
              @media (max-width: 768px) {
                list-style: square;
                list-style-type: square;
                padding-left: 15px;
                list-style-position: outside;
              }
              .article-item-normal-list-item {
                &::marker {
                  color: var(--primaryOrange);
                }
                margin-top: 40px;
                @media (max-width: 768px) {
                  margin-top: 24px;
                  &:first-child() {
                    margin-top: 32px !important;
                  }
                }
                .article-list-item-block {
                  display: flex;
                  @media (max-width: 768px) {
                    display: block;
                  }
                  .lazyload-wrapper {
                    .article-item-image {
                      min-width: 127px;
                      max-width: 127px;
                      width: 127px;
                      height: 72px;
                      object-fit: cover;
                      object-position: center;
                      @media (max-width: 768px) {
                        display: none;
                      }
                    }
                  }
                  .box-item-date-tag {
                    .article-item-detail-tag {
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      margin-left: 16px;
                      margin-bottom: 4px;
                      @media (max-width: 768px) {
                        margin-left: 0;
                      }
                      .article-item-detail-tag-name {
                        font-size: 0.7125rem;
                        font-weight: 500;
                        line-height: 1;
                        text-transform: uppercase;
                        color: #17181e;
                        &:hover {
                          text-decoration: none;
                          color: #888;
                        }
                      }
                      .article-item-detail-tag-seprator {
                        font-size: 0.7125rem;
                        margin-left: 4px;
                        margin-right: 4px;
                        &::before {
                          content: "/";
                        }
                      }
                      .article-item-detail-tag-date {
                        font-size: 0.7125rem;
                        font-weight: 400;
                        line-height: 1.4;
                        text-transform: lowercase;
                        color: #888;
                        @media (max-width: 768px) {
                          font-size: 0.6125rem;
                          // display: none;
                        }
                      }
                      .article-item-detail-tag-date-mobile {
                        display: none;
                        @media (max-width: 768px) {
                          display: unset;
                          font-size: 0.7125rem;
                          font-weight: 400;
                          line-height: 1.4;
                          text-transform: uppercase;
                          color: #888;
                        }
                      }
                    }
                    .article-item-text {
                      font-weight: bold;
                      font-size: 14px;
                      line-height: 21px;
                      margin-bottom: 0;
                      margin-left: 16px;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      margin-bottom: 8px;
                      color: #000000;
                      @media (max-width: 768px) {
                        margin-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .block-body-right {
    padding-left: 40px;
    @media (max-width: 991px) {
      padding-left: 15px;
    }
    .check-interest-rate {
      .check-interest-rate-item {
        cursor: pointer;
        .check-interest-rate-text {
          padding: 12px 15px;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #555555;
          background-color: #f5f5f5;
          border-radius: 4px 4px 0px 0px;
          margin-bottom: 6px;
          &.active {
            color: var(--textWhite);
            background-color: var(--primaryOrange);
          }
        }
        &:nth-child(1) {
          padding-right: 2px;
        }
        &:nth-child(2) {
          padding-left: 2px;
        }
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .box-select-right {
        background: #f5f5f5;
        border-radius: 8px;
        padding: 32px 24px 24px 24px;
      }
      .button-check-right {
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .button-check-right-text {
          width: fit-content;
          padding: 8px 24px;
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: var(--textWhite);
          background: linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%),
            linear-gradient(90deg, #483fa8 0.65%, #6b61d5 51.64%, #8c81ff 100%);
          border-radius: 4px;
        }
        .description-text {
          margin: 0;
          margin-top: 16px;
          font-style: italic;
          font-size: 12px;
          line-height: 16px;
          color: #a4a4a4;
        }
      }
    }
    .current-price {
      margin-top: 40px;
      .current-price-box-highlight {
        display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: var(--textWhite);
        width: 100%;
        max-width: 300px;
        padding: 14px 0;
        background-color: var(--primaryOrange);
        margin-bottom: 6px;
        border-radius: 2px;
        padding-left: 16px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .data-table-current-price {
        .table-current-gold {
          td {
            .gold-text {
              margin: 0;
            }
          }
          .gold-value {
            display: flex;
            align-items: center;
            > img {
              margin-left: 2px;
            }
          }
        }
        .table-current-money {
          td {
            .gold-text {
              margin: 0;
            }
          }
          .gold-value {
            display: flex;
            align-items: center;
            > img {
              margin-left: 2px;
            }
          }
        }
      }
    }
    .stock-box {
      margin-top: 40px;
      .stock-box-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        // padding-left: 16px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .stock-box-chart {
      }
    }
    .vietlot-block {
      margin-top: 40px;
      .vietlot-box-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        // padding-left: 16px;
        a {
          color: #000000;
          &:hover {
            // text-decoration: none;
          }
        }
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .data-table-vietlot {
        .table-vietlot {
          @media (max-width: 768px) {
            margin-bottom: 100px;
          }
          td {
            vertical-align: middle;
            &:first-child {
              width: 55%;
            }
            .highlight-title {
              //font-family: Roboto;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: #ff0000;
              margin-bottom: 4px;
            }
            .title-normal {
              //font-family: Roboto;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #505050;
              margin-bottom: 0;
            }
            .number-normal {
              //font-family: Roboto;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              color: #505050;
              margin-bottom: 0;
              text-align: center;
            }
          }
        }
      }
    }
    .interest-bank-block {
      margin-bottom: 2rem ;
      .interest-bank-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        // color: #000000;
        width: 100%;
        max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        // padding-left: 16px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .interest-box-data {
        padding-bottom: 8px;
        .box-description-interrest {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .smail-text {
            font-size: 12px;
            color: #999;
          }
          .choose-type-interest {
            .type-interest-item {
              min-width: 75px;
              text-align: center;
              height: 24px;
              line-height: 23px;
              font-size: 12px;
              color: #ababab;
              border: 1px solid #e5e5e5;
              background: #f7f7f7;
              display: inline-block;
              cursor: pointer;
              &:first-child {
                border-radius: 3px 0 0 3px;
                border-right: none;
              }
              &.active {
                background: #fff;
                font-weight: 700;
                color: #222;
              }
            }
          }
        }
      }
      .box-table-data-intterest-bank {
        .box-table {
          .row-month {
            width: 100%;
            background: #f7f7f7;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            margin-bottom: 5px;
            border-collapse: collapse;
            margin-bottom: 0;
            td {
              border-bottom: 1px solid #e6e6e6;
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              cursor: pointer;
              &:first-child {
                cursor: unset;
              }
              &.col-bank {
                width: 25%;
                text-align: left;
              }
              &:last-child {
                border-right: 1px solid #e6e6e6;
              }
              .box-sort-type {
                .icon-sort {
                  font-size: 11px;
                  margin-right: 4px;
                  color: #e4e4e4;
                }
              }
            }
          }
        }
        .data-interest-by-bank {
          min-height: 100%;
          max-height: 285px;
          overflow: auto;
          width: 100%;
          height: 100%;
          &.customScroll {
            &::-webkit-scrollbar {
              width: 2px;
              height: 1px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
          }
          .data-interest-table {
            width: 100%;
            border-left: 1px solid #e6e6e6;
            td {
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              border-bottom: 1px solid #e6e6e6;
              &.col-bank {
                width: 25%;
                text-align: left;
              }
              .spinner-interest {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }


      //borrow-data
      .box-table-data-borrow-bank {
       overflow:auto;
       width: 100%;
          &::-webkit-scrollbar {
            width: 100%;
            height: 2px;
            cursor: pointer;
            
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            cursor: pointer;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            cursor: pointer;
          }
        .box-table {
          .row-month {
            width: 100%;
            background: #f7f7f7;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            margin-bottom: 5px;
            border-collapse: collapse;
            margin-bottom: 0;
            td {
              border-bottom: 1px solid #e6e6e6;
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              cursor: pointer;
              &:first-child {
                cursor: unset;
                width: 40%;
                text-align:left;
              }
              
              &:nth-child(2){
                width: 25%;
                i{
                  color: rgb(7, 111, 186);
                  font-size: 11px;
                  margin-right: 4px;
                }
              }
              &:nth-child(3){
                width: 35%;
              }
              .box-sort-type {
                .icon-sort {
                  font-size: 11px;
                  margin-right: 4px;
                  color: #e4e4e4;
                }
              }
            }
          }
        }
        .data-interest-by-bank {
          min-height: 100%;
          max-height: 285px;
          overflow-y: auto;
          overflow-x:hidden;
          width: 100%;
          height: 100%;
          &.customScroll {
            &::-webkit-scrollbar {
              width: 3px;
              height:1px
              
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
          }
          .data-interest-table {
            width: 100%;
            border-left: 1px solid #e6e6e6;
            //overflow-x: auto;
            td {
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              border-bottom: 1px solid #e6e6e6;
              &:first-child{
                width: 40%;
                text-align:left;
              }
              
              &:nth-child(2){
                width: 25%;
                
              }
              &:nth-child(3){
                width: 35%;
              }
              
              .spinner-interest {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      //borrow-data end
      .view-all-interrest {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 12px;
          color: #999;
        }
        a {
          font-size: 12px;
          display: inline-block;
        }
      }
    }
    .exchange-box {
      margin-top: 40px;
      .exchange-box-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        // padding-left: 16px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .exchange-box-data {
        padding-bottom: 8px;
        .box-description-exchange {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .smail-text {
            font-size: 12px;
            color: #999;
          }
        }
      }
      .box-table-data-exchange-rate {
        .box-table {
          .row-title {
            width: 100%;
            background: #f7f7f7;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            margin-bottom: 5px;
            border-collapse: collapse;
            margin-bottom: 0;
            //text-align: center;
            td {
              border-bottom: 1px solid #e6e6e6;
              font-size: 10px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 19%;
              text-align: center;
              // cursor: pointer;
              border-left: 1px solid #e6e6e6;
              &:first-child {
                cursor: unset;
              }
              &.col-currency {
                //text-align: left;
                width: 17%;

              }
              &.col-rate {
                width: 26%;
              }
              &:last-child {
                border-right: 1px solid #e6e6e6;
              }
              .box-sort-type {
                .icon-sort {
                  font-size: 11px;
                  margin-right: 4px;
                  color: #e4e4e4;
                }
              }
            }
          }
        }
        .data-exchange-rate {
          min-height: 100%;
          max-height: 285px;
          overflow: auto;
          width: 100%;
          height: 100%;
          &.customScroll {
            &::-webkit-scrollbar {
              width: 2px;
              height: 1px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
          }
          .data-exchange-table {
            width: 100%;
            border-left: 1px solid #e6e6e6;
            td {
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 19%;
              text-align: center;
              border-bottom: 1px solid #e6e6e6;
              &.col-rate {
                width: 26%;
              }
              &.col-bank{
                text-align: left;
                width: 17%;
              }
              .spinner-interest {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      .view-all-exchange {
        margin-top: 8px;
        display: flex;
        align-items: center;
        // float: right;
        justify-content: space-between;
        span {
          font-size: 12px;
          color: #999;
        }
        a {
          font-size: 12px;
          display: inline-block;
        }
      }
    }
  }
  .divider-homepage-left {
    padding-right: 0;
    @media (max-width: 768px) {
      padding-right: 15px;
    }
    .divider-homepage {
      margin: 56px 0;
      background-color: #e9e9e9;
      height: 1px;
      width: 100%;
      @media (max-width: 991px) {
        margin: 40px 0;
      }
    }
  }
  .data-not-found-home {
    padding: 32px 0;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    > img {
      max-width: 210px;
      display: block;
      margin: auto;
    }
  }
}
.interest-bank-block.borow-rate{
  margin-top:30px;
}

.currency-homepage-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.67);
  text-align: center;
  margin-bottom: 48px;
  @media (max-width: 576px) {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

.crypto-homepage {
  margin-bottom: 48px;
}

.homepage-container {
  .crypto-homepage {
    .box-choose-unit {
      .unit-currency {
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
  }
}
.see-more-crypto-currency-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  .see-more-crypto-currency {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 8px;
    width: fit-content;
    &:hover {
      text-decoration: none;
      background-color: #ffffff;
      color: #007bff;
      border-color: #007bff;
    }
    @media (max-width: 576px) {
      height: 36px;
      padding: 0 10px;
    }
  }
}
