.borrow-rate.interest-bank-block{
    background-color: #000;
    .row-month{
        tr{
            td{
                &:nth-child(1){
                    width: 25%;
                    background-color: #000;
                }
            }
        }
    }
    .data-interest-table{
        .tr{
            td{
                &:nth-child(1){
                    width: 25%;
                    background-color: #000;
                }
            }
        }
    }
}