.vietlot-block {
  margin-top: 40px;
  .vietlot-box-highlight {
    // display: flex;
    // justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 100%;
    max-width: 300px;
    // padding: 14px 0;
    // background-color: var(--primaryOrange);
    margin-bottom: 6px;
    // border-radius: 2px;
    // padding-left: 16px;
    a {
      color: #000000;
      &:hover {
        // text-decoration: none;
      }
    }
  }
  .divide-box-right {
    height: 2px;
    background-color: var(--divideOrange);
    margin-bottom: 8px;
  }
  .data-table-vietlot {
    .table-vietlot {
      @media (max-width: 768px) {
        margin-bottom: 100px;
      }
      td {
        vertical-align: middle;
        &:first-child {
          width: 55%;
        }
        .highlight-title {
          //font-family: Roboto;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ff0000;
          margin-bottom: 4px;
        }
        .title-normal {
          //font-family: Roboto;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #505050;
          margin-bottom: 0;
        }
        .number-normal {
          //font-family: Roboto;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          color: #505050;
          margin-bottom: 0;
          text-align: center;
        }
      }
    }
  }
}