.dropdown-nav{
    position:relative;
}

.dropdown-nav:hover > .dropdown-nav-toggle .dropdown-nav-caret-icons{
    transform: rotate( 180deg );
}

.dropdown-nav:hover > .dropdown-nav-menu{
    z-index:100;
    opacity:1;
}

.dropdown-nav-toggle{
    position:relative;
    /* padding-right:20px; */
}

.dropdown-nav-caret-icons{
    position: absolute;
    top: 0px;
    right: 0px;
    height:100%;
    transition: transform 0.2s ease-in-out;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-nav-menu{
    position:absolute;
    top:100%;
    /* width:fit-content; */
    /* min-width: 280px; */
    z-index:-1;
    opacity:0;
    transition: opacity 0.2s ease-in-out
}

.dropdown-nav-menu.left{
    /* left:-50%; */
}

.dropdown-nav-menu.right{
    left:100%;
}

.dropdown-nav-menu.top{
    top:0;
}

.dropdown-nav-menu.bottom{
    top:100%;
    padding-top: 12px;
}

.dropdown-nav-item{
    min-width: 15em;
}