.datacrypto {
  margin-bottom: 2rem;
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 6px;
    a{
      color: #000000;
      text-decoration: none;
      &:hover{
        color: #000000;
      }
    }
  }
  &__device {
    height: 2px;
    background-color: var(--divideOrange);
    margin-bottom: 8px;
  }
  &__lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    &--text {
      font-size: 12px;
      color: #999;
      margin-bottom: 0;
    }
    &--choose--btn {
      min-width: 75px;
      text-align: center;
      height: 24px;
      line-height: 23px;
      font-size: 12px;
      color: #ababab;
      border: 1px solid #e5e5e5;
      background: #f7f7f7;
      display: inline-block;
      cursor: pointer;
      &.active {
        background: #fff;
        font-weight: 700;
        color: #222;
        cursor: not-allowed;
        // pointer-events: none;
      }
    }
  }
  &__table {
    width: 100%;
    overflow: auto;
    &--main {
      width: 100%;
      background: #f7f7f7;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      margin-bottom: 5px;
      border-collapse: collapse;
      margin-bottom: 0;
      & tbody tr td {
        border-bottom: 1px solid #e6e6e6;
        font-size: 11px;
        padding: 5px 3px;
        vertical-align: middle;
        &:first-child {
          width: 15%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:last-child {
          width: 35%;
          text-align: center;
        }
      }
      &--iconsort{
        cursor: pointer;
        &.active{
          color: rgb(7, 111, 186);
        }
        & span:first-child{
          margin-right: 2px;
        }
      }
    }
    &--bottom {
      min-height: 100%;
      max-height: 285px;
      overflow: auto;
      width: 100%;
      height: 100%;
      &--link{
        color: #000;
        text-decoration: none;
        &:hover{
          color: #000;
          text-decoration: none;
        }
      }
      &.customScroll {
        &::-webkit-scrollbar {
          width: 2px;
          height: 1px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      &-main {
        width: 100%;
        border-left: 1px solid #e6e6e6;
        & tbody tr td {
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          text-align: right;
          border-bottom: 1px solid #e6e6e6;
          text-align: left;
          &:first-child {
            width: 15%;
          }
          &:nth-child(2) {
            width: 30%;
          }
          &:last-child {
            width: 35%;
            text-align: center;
          }
        }
        
      }
    }
  }
}

.text-decrease{
  color: #fb0000;
}
.text-increase{
  color: #00b600;
}
.loading_box{
  width: 100%;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}