$colors-feature-text-list: #E2EFFF #F0FFC7 #E2FFF8 #FFE5FE #FFEFE4 #FEFBBE;

.block-view-more-tool {
  max-width: 1200px;
  margin: auto;
  // margin-top: 80px;
  background: #ffffff;
  border-radius: 8px;
  padding: 0;
  @media (max-width: 768px) {
    margin-top: 0px;
    padding: 40px 20px;
    padding-bottom: 0;
  }
  .view-more-tool-title {
    // //font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.67);
    text-align: center;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }
  .view-more-tool-item {
    .view-more-tool-item-detail {
      display: flex;
      @each $current-color in $colors-feature-text-list {
        $i: index($colors-feature-text-list, $current-color);
        &:nth-last-of-type(#{$i}) {
          .box-link-icon .item-detail-box {
            background: nth($colors-feature-text-list, $i);
          }
        }
      }
      @media (max-width: 768px) {
        padding: 0;
        padding-bottom: 32px;
        &:nth-child(n + 4) {
          padding-bottom: 0;
        }
      }
      .box-link-icon {
        width: 100%;
        max-width: 143px;
        // background-color: #483FA8;
        display: inline-block;
        margin: 0 auto;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        @media (max-width: 768px) {
          max-width: 108px;
        }
        @media (max-width: 380px) {
          max-width: 98px;
        }

        &:hover {
          text-decoration: none;
        }
        .item-detail-box {
          height: 143px;
          width: 100%;
          border-radius: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 768px) {
            height: 108px;
            > div {
              width: 56px !important;
              height: 56px !important;
            }
          }
        }
        .desciption-image {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          margin: 0;
          margin-top: 16px;
          color: rgba(0, 0, 0, 0.67);
          @media (max-width: 768px) {
            font-size: 13px;
            line-height: 21px;
          }
        }
        &:hover {
          -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
          .item-detail-box {
            -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
          }
          // margin-bottom: -20px;
        }
      }

      // &:nth-child(n + 4) {
      //   margin-top: 40px;
      // }
      // .item-detail-box {
      //   padding: 1rem;
      //   padding: 2px;
      //   background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
      //   border-radius: 40px;
      //   width: 100%;
      //   max-width: 350px;
      //   @media(max-width: 768px) {
      //     display: none;
      //   }
      //   .item-detail-box-border {
      //     padding: 0 24px;
      //     height: 44px;
      //     background: #F7FAFD;
      //     color: #483FA8;
      //     display: flex;
      //     align-items: center;
      //     justify-content: space-between;
      //     border-radius: 40px;
      //     .view-more-tool-item-detai-text {
      //       //font-family: Open Sans;
      //       font-weight: 600;
      //       font-size: 16px;
      //       line-height: 24px;
      //       margin: 0;
      //     }
      //     .border-box-image {

      //     }
      //   }
      // }
      // .item-detail-box-moblie {
      //   display: none;
      //   @media(max-width: 768px) {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //   }
      //   .item-detail-box-moblie-text {
      //     //font-family: Open Sans;
      //     font-weight: 600;
      //     font-size: 12px;
      //     line-height: 18px;
      //     color: #483FA8;
      //     margin: 0;
      //     margin-top: 8px;
      //     text-align: center;
      //   }
      // }
    }
  }
}