.interest-bank-block {
  margin-bottom: 2rem ;
  .interest-bank-highlight {
    // display: flex;
    // justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    // color: #000000;
    width: 100%;
    max-width: 300px;
    // padding: 14px 0;
    // background-color: var(--primaryOrange);
    margin-bottom: 6px;
    // border-radius: 2px;
    // padding-left: 16px;
  }
  .divide-box-right {
    height: 2px;
    background-color: var(--divideOrange);
    margin-bottom: 8px;
  }
  .interest-box-data {
    padding-bottom: 8px;
    .box-description-interrest {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .smail-text {
        font-size: 12px;
        color: #999;
      }
      .choose-type-interest {
        .type-interest-item {
          min-width: 75px;
          text-align: center;
          height: 24px;
          line-height: 23px;
          font-size: 12px;
          color: #ababab;
          border: 1px solid #e5e5e5;
          background: #f7f7f7;
          display: inline-block;
          cursor: pointer;
          &:first-child {
            border-radius: 3px 0 0 3px;
            border-right: none;
          }
          &.active {
            background: #fff;
            font-weight: 700;
            color: #222;
          }
        }
      }
    }
  }
  .box-table-data-intterest-bank {
    .box-table {
      .row-month {
        width: 100%;
        background: #f7f7f7;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        margin-bottom: 5px;
        border-collapse: collapse;
        margin-bottom: 0;
        td {
          border-bottom: 1px solid #e6e6e6;
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 15%;
          text-align: right;
          cursor: pointer;
          &:first-child {
            cursor: unset;
          }
          &.col-bank {
            width: 25%;
            text-align: left;
          }
          &:last-child {
            border-right: 1px solid #e6e6e6;
          }
          .box-sort-type {
            .icon-sort {
              font-size: 11px;
              margin-right: 4px;
              color: #e4e4e4;
            }
          }
        }
      }
    }
    .data-interest-by-bank {
      min-height: 100%;
      max-height: 285px;
      overflow: auto;
      width: 100%;
      height: 100%;
      &.customScroll {
        &::-webkit-scrollbar {
          width: 2px;
          height: 1px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      .data-interest-table {
        width: 100%;
        border-left: 1px solid #e6e6e6;
        td {
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 15%;
          text-align: right;
          border-bottom: 1px solid #e6e6e6;
          &.col-bank {
            width: 25%;
            text-align: left;
          }
          .spinner-interest {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }


  //borrow-data
  .box-table-data-borrow-bank {
   overflow:auto;
   width: 100%;
      &::-webkit-scrollbar {
        width: 100%;
        height: 2px;
        cursor: pointer;
        
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        cursor: pointer;
      }
    .box-table {
      .row-month {
        width: 100%;
        background: #f7f7f7;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        margin-bottom: 5px;
        border-collapse: collapse;
        margin-bottom: 0;
        td {
          border-bottom: 1px solid #e6e6e6;
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 15%;
          text-align: right;
          cursor: pointer;
          &:first-child {
            cursor: unset;
            width: 40%;
            text-align:left;
          }
          
          &:nth-child(2){
            width: 25%;
            i{
              color: rgb(7, 111, 186);
              font-size: 11px;
              margin-right: 4px;
            }
          }
          &:nth-child(3){
            width: 35%;
          }
          .box-sort-type {
            .icon-sort {
              font-size: 11px;
              margin-right: 4px;
              color: #e4e4e4;
            }
          }
        }
      }
    }
    .data-interest-by-bank {
      min-height: 100%;
      max-height: 285px;
      overflow-y: auto;
      overflow-x:hidden;
      width: 100%;
      height: 100%;
      &.customScroll {
        &::-webkit-scrollbar {
          width: 3px;
          height:1px
          
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      .data-interest-table {
        width: 100%;
        border-left: 1px solid #e6e6e6;
        //overflow-x: auto;
        td {
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 15%;
          text-align: right;
          border-bottom: 1px solid #e6e6e6;
          &:first-child{
            width: 40%;
            text-align:left;
          }
          
          &:nth-child(2){
            width: 25%;
            
          }
          &:nth-child(3){
            width: 35%;
          }
          
          .spinner-interest {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  //borrow-data end
  .view-all-interrest {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 12px;
      color: #999;
    }
    a {
      font-size: 12px;
      display: inline-block;
    }
  }
}

.exchange-box {
  margin-top: 40px;
  .exchange-box-highlight {
    // display: flex;
    // justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 100%;
    max-width: 300px;
    // padding: 14px 0;
    // background-color: var(--primaryOrange);
    margin-bottom: 6px;
    // border-radius: 2px;
    // padding-left: 16px;
  }
  .divide-box-right {
    height: 2px;
    background-color: var(--divideOrange);
    margin-bottom: 8px;
  }
  .exchange-box-data {
    padding-bottom: 8px;
    .box-description-exchange {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .smail-text {
        font-size: 12px;
        color: #999;
      }
    }
  }
  .box-table-data-exchange-rate {
    .box-table {
      .row-title {
        width: 100%;
        background: #f7f7f7;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        margin-bottom: 5px;
        border-collapse: collapse;
        margin-bottom: 0;
        //text-align: center;
        td {
          border-bottom: 1px solid #e6e6e6;
          font-size: 10px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 19%;
          text-align: center;
          // cursor: pointer;
          border-left: 1px solid #e6e6e6;
          &:first-child {
            cursor: unset;
          }
          &.col-currency {
            //text-align: left;
            width: 17%;

          }
          &.col-rate {
            width: 26%;
          }
          &:last-child {
            border-right: 1px solid #e6e6e6;
          }
          .box-sort-type {
            .icon-sort {
              font-size: 11px;
              margin-right: 4px;
              color: #e4e4e4;
            }
          }
        }
      }
    }
    .data-exchange-rate {
      min-height: 100%;
      max-height: 285px;
      overflow: auto;
      width: 100%;
      height: 100%;
      &.customScroll {
        &::-webkit-scrollbar {
          width: 2px;
          height: 1px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      .data-exchange-table {
        width: 100%;
        border-left: 1px solid #e6e6e6;
        td {
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 19%;
          text-align: center;
          border-bottom: 1px solid #e6e6e6;
          &.col-rate {
            width: 26%;
          }
          &.col-bank{
            text-align: left;
            width: 17%;
          }
          .spinner-interest {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .view-all-exchange {
    margin-top: 8px;
    display: flex;
    align-items: center;
    // float: right;
    justify-content: space-between;
    span {
      font-size: 12px;
      color: #999;
    }
    a {
      font-size: 12px;
      display: inline-block;
    }
  }
}

.borrow-rate.interest-bank-block{
  background-color: #000;
  .row-month{
      tr{
          td{
              &:nth-child(1){
                  width: 25%;
                  background-color: #000;
              }
          }
      }
  }
  .data-interest-table{
      .tr{
          td{
              &:nth-child(1){
                  width: 25%;
                  background-color: #000;
              }
          }
      }
  }
}