.container-block-new-detail {
  max-width: 1200px;
  margin: auto;
  margin-top: -24px;
  @media (max-width: 768px) {
    margin-top: 16px;
    padding: 0 20px;
  }
  .stock-box {
    margin-top: 40px;
    .stock-box-highlight {
      // display: flex;
      // justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      width: 100%;
      max-width: 300px;
      // padding: 14px 0;
      // background-color: var(--primaryOrange);
      margin-bottom: 6px;
      // border-radius: 2px;
    }
    .divide-box-right {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 8px;
    }
    .stock-box-chart {}
  }
  .vietlot-block {
    margin-top: 20px;
    .vietlot-box-highlight {
      // display: flex;
      // justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      width: 100%;
      max-width: 300px;
      // padding: 14px 0;
      // background-color: var(--primaryOrange);
      margin-bottom: 6px;
      // border-radius: 2px;
      // padding-left: 16px;
      a {
        color: #000000;
        &:hover {
          // text-decoration: none;
        }
      }
    }
    .divide-box-right {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 8px;
    }
    .data-table-vietlot {
      .table-vietlot {
        @media (max-width: 768px) {
          margin-bottom: 100px;
        }
        td {
          vertical-align: middle;
          &:first-child {
            width: 55%;
          }
          .highlight-title {
            //font-family: Roboto;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ff0000;
            margin-bottom: 4px;
          }
          .title-normal {
            //font-family: Roboto;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #505050;
            margin-bottom: 0;
          }
          .number-normal {
            //font-family: Roboto;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #505050;
            margin-bottom: 0;
            text-align: center;
          }
        }
      }
    }
  }
  .bread-scrum-post-page {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 48px;
    a {
      color: #141414;
      &:hover {
        color: #141414;
      }
    }
    span {
      color: #616161;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .bread-scrum-divider {
      color: #141414;
      margin: 0 12px;
      @media (max-width: 768px) {
        &.post {
          display: none;
        }
      }
    }
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }
  .block-detail-left {
    padding-right: 24px;
    @media (max-width: 768px) {
      padding-right: 15px;
    }
    .title-blog-detail {
      //font-family: Open Sans;
      font-weight: bold;
      font-size: 35px;
      line-height: 45px;
      color: #000000;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 32px;
      }
    }
    .box-info-author {
      display: flex;
      height: 50px;
      margin-bottom: 40px;
      @media (max-width: 576px) {
        align-items: center;
      }
      .info-author-left {
        .box-info-author-image {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }
      .info-author-right {
        margin-left: 16px;
        .info-author-public {
          //font-family: Open Sans;
          font-style: italic;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.67);
          margin-bottom: 4px;
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .info-author-name {
          //font-family: Open Sans;
          font-style: italic;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.67);
          .info-author-name-link {
            color: #000000;
            &:hover {
              // text-decoration: #000000;
            }
          }
        }
      }
    }
    .image-cover-article {
      margin-bottom: 30px;
    }
    .box-article-html {
      // display: flex;
      position: relative;
      .box-share-artilce {
        position: absolute;
        top: 0;
        bottom: 0;
        @media (max-width: 992px) {
          display: none;
        }
        .box-share-artilce-stiky {
          position: -webkit-sticky;
          position: sticky;
          top: 90px;
          bottom: 0;
          -webkit-transition: visibility 0s linear 0s, opacity 0.3s 0s;
          transition: visibility 0s linear 0s, opacity 0.3s 0s;
          .box-share-artilce-item {
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .render-html-page {
        margin-left: 100px;
        @media (max-width: 768px) {
          margin-left: 0;
        }
        h1,
        h2,
        h3 {
          font-weight: bold;
        }
        h3 {
          font-size: 1.65rem;
        }
        p {
          line-height: 1.7;
        }
        .wp-block-image {
          img {
            width: 100%;
          }
        }
        figcaption {
          color: rgba(0, 0, 0, 0.68);
          font-size: 0.9375rem;
          font-weight: 400;
          line-height: 1.4;
          margin-top: 10px;
          text-align: center;
        }
        figure {
          &.kg-card.kg-embed-card {
            height: 80vh;
            iframe {
              width: 100% !important;
              height: 90% !important;
            }
          }
          &.kg-card.kg-embed-card.kg-card-hascaption {
            iframe {
              width: 100% !important;
              height: 700px !important;
            }
          }
          &.is-provider-youtube.wp-block-embed-youtube {
            iframe {
              width: 100%;
              height: 380px;
              @media (max-width: 576px) {
                height: 220px;
              }
            }
          }
        }
        table {
          width: 100% !important;
          &.picture {
            width: 100% !important;
          }
        }
        .tradingview-widget-container {
          width: 100% !important;
          iframe {
            width: 100% !important;
          }
        }
        .wp-block-code {
          code {
            h3 {
              color: #000000;
              font-size: 18px;  
            }
            p {
              font-size: 16px;
              margin: 0;
            }
          }
        }
      }
      .box-share-mobile {
        @media (min-width: 993px) {
          display: none;
        }
        position: fixed;
        z-index: 100;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        .share-mobile-block {
          background-color: #ffffff;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          .share-mobile-block-item {
            margin-right: 16px;
            &:last-child {
              margin-right: 0;
            }
            .box-mobile-share-contain {
              border-radius: 8px;
              width: 100px;
              height: 27px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.facebook {
                background: #3b5998;
              }
              &.tweet {
                background: #1277c9;
              }
              &.send {
                background: #64d448;
              }
              .image-share-mobile {
                margin-right: 8px;
              }
              .text-share-mobile {
                //font-family: Open Sans;
                font-size: 14px;
                line-height: 19px;
                color: var(--textWhite);
              }
            }
          }
        }
      }
    }
  }
  .block-suggest-right {
    padding-left: 24px;
    @media (max-width: 768px) {
      //display: none;
      padding-left: 15px;
    }
    .block-lastest-news {
      // margin-bottom: 32px;
      .lastest-news-box-highlight {
        //font-family: Roboto;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        // max-width: 300px;
        margin-bottom: 6px;
        // max-width: 230px;
        // height: 36px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // background-color: var(--primaryOrange);
        // margin-bottom: 6px;
        @media (max-width: 768px) {
          // max-width: 240px;
        }
      }
      .divider-block-suggest-right {
        height: 2px;
        background-color: var(--divideOrange);
      }
      .box-trading-view {
        .tradingview-widget-container {
          width: 100% !important;
          iframe {
            width: 100% !important;
          }
        }
      }
      .box-news-lastest-article {
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .hot-item-lastest {
          margin-top: 16px;
          .hot-item-image {
            max-height: 167px;
            object-fit: cover;
            object-position: center;
          }
          .hot-item-title {
            margin-top: 12px;
            //font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .divider-article {
          height: 1px;
          background-color: #e9e9e9;
          margin: 16px 0;
        }
        .news-item-normal {
          .divider-article {
            height: 1px;
            background-color: #e9e9e9;
            margin: 16px 0;
            &:last-child {
              display: none;
            }
          }
          .news-item-normal-detail {
            display: flex;
            .item-detail-image {
              max-width: 100px;
              height: 55px;
              object-fit: cover;
              object-position: center;
            }
            .item-detail-title {
              margin-left: 12px;
              //font-family: Roboto;
              font-weight: bold;
              font-size: 14px;
              line-height: 21px;
              color: #000000;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .block-check-interest-rate {
      margin-bottom: 40px;
      // .check-interest-rate {
      //   .check-interest-rate-item {
      //     cursor: pointer;
      //     .check-interest-rate-text {
      //       padding: 12px 15px;
      //       font-weight: bold;
      //       font-size: 18px;
      //       line-height: 25px;
      //       text-align: center;
      //       color: #555555;
      //       background-color: #F5F5F5;
      //       border-radius: 4px 4px 0px 0px;
      //       margin-bottom: 6px;
      //       &.active {
      //         color: var(--textWhite);
      //         background-color: var(--primaryOrange);
      //       }
      //     }
      //     &:nth-child(1) {
      //       padding-right: 2px;
      //     }
      //     &:nth-child(2) {
      //       padding-left: 2px;
      //     }
      //   }
      //   .divide-box-right {
      //     height: 2px;
      //     background-color: var(--divideOrange);
      //     margin-bottom: 8px;
      //   }
      //   .box-select-right {
      //     background: #F5F5F5;
      //     border-radius: 8px;
      //     padding: 32px 24px 24px 24px;
      //   }
      //   .button-check-right {
      //     margin-top: 16px;
      //     display: flex;
      //     align-items: center;
      //     flex-direction: column;
      //     .button-check-right-text {
      //       width: fit-content;
      //       padding: 8px 24px;
      //       margin: 0;
      //       font-weight: 600;
      //       font-size: 14px;
      //       line-height: 19px;
      //       color: var(--textWhite);
      //       background: linear-gradient(90deg, #483FA8 0.65%, #6B61D5 51.64%, #8C81FF 100%), linear-gradient(90deg, #483FA8 0.65%, #6B61D5 51.64%, #8C81FF 100%);
      //       border-radius: 4px;
      //     }
      //     .description-text {
      //       margin: 0;
      //       margin-top: 16px;
      //       font-style: italic;
      //       font-size: 12px;
      //       line-height: 16px;
      //       color: #A4A4A4;
      //     }
      //   }
      // }
      .interest-bank-block {
        .interest-bank-highlight {
          // display: flex;
          // justify-content: center;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          width: 100%;
          max-width: 300px;
          // padding: 14px 0;
          // background-color: var(--primaryOrange);
          margin-bottom: 6px;
          // border-radius: 2px;
          // padding-left: 16px;
        }
        .divide-box-right {
          height: 2px;
          background-color: var(--divideOrange);
          margin-bottom: 8px;
        }
        .interest-box-data {
          padding-bottom: 8px;
          .box-description-interrest {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .smail-text {
              font-size: 12px;
              color: #999;
            }
            .choose-type-interest {
              .type-interest-item {
                min-width: 75px;
                text-align: center;
                height: 24px;
                line-height: 23px;
                font-size: 12px;
                color: #ababab;
                border: 1px solid #e5e5e5;
                background: #f7f7f7;
                display: inline-block;
                cursor: pointer;
                &:first-child {
                  border-radius: 3px 0 0 3px;
                  border-right: none;
                }
                &.active {
                  background: #fff;
                  font-weight: 700;
                  color: #222;
                }
              }
            }
          }
        }
        .box-table-data-intterest-bank {
          .box-table {
            .row-month {
              width: 100%;
              background: #f7f7f7;
              border-top: 1px solid #e6e6e6;
              border-left: 1px solid #e6e6e6;
              margin-bottom: 5px;
              border-collapse: collapse;
              margin-bottom: 0;
              td {
                border-bottom: 1px solid #e6e6e6;
                font-size: 11px;
                padding: 5px 3px;
                vertical-align: middle;
                width: 15%;
                text-align: right;
                cursor: pointer;
                &:first-child {
                  cursor: unset;
                }
                &.col-bank {
                  width: 25%;
                  text-align: left;
                }
                &:last-child {
                  border-right: 1px solid #e6e6e6;
                }
                .box-sort-type {
                  .icon-sort {
                    font-size: 11px;
                    margin-right: 4px;
                    color: #e4e4e4;
                  }
                }
              }
            }
          }
          .data-interest-by-bank {
            min-height: 100%;
            max-height: 285px;
            overflow: auto;
            width: 100%;
            height: 100%;
            &.customScroll {
              &::-webkit-scrollbar {
                width: 2px;
                height: 1px;
              }
              &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
              }
              &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
              }
            }
            .data-interest-table {
              width: 100%;
              border-left: 1px solid #e6e6e6;
              td {
                font-size: 11px;
                padding: 5px 3px;
                vertical-align: middle;
                width: 15%;
                text-align: right;
                border-bottom: 1px solid #e6e6e6;
                &.col-bank {
                  width: 25%;
                  text-align: left;
                }
                .spinner-interest {
                  height: 60px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
        .view-all-interrest {
          margin-top: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 12px;
            color: #999;
          }
          a {
            font-size: 12px;
            display: inline-block;
          }
        }
      }
    }
    .info-another-bank-block {
      margin-top: 40px;
      .info-another-bank-highlight {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 6px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .box-option-item {
        height: 288px;
        // max-height: 288px;
        background-color: #f5f5f5;
        border-radius: 8px;
        .option-block {
          max-height: 288px;
          overflow: auto;
          a {
            display: inline-flex;
            width: 100%;
            height: 48px;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            font-size: 16px;
            line-height: 24px;
            color: #616161;
            text-decoration: none;
            &:hover {
              color: #ffffff;
              background: rgba(72, 63, 168, 0.6);
            }
            span {
              max-width: 290px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &.cutom-scroll-box-option {
            &::-webkit-scrollbar {
              width: 0.5em;
              height: 15rem;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: #483fa8;
              outline: 1px solid #e1e1e1;
              border-radius: 8px;
            }
          }
        }
      }
    }
    .block-lastest-news {
      margin-top: 40px;
    }
  }
  .block-interested-article {
    margin-top: 80px;
    margin-bottom: 100px;
    @media (max-width: 768px) {
      margin-top: 56px;
    }
    .interested-article-box-highlight {
      //font-family: Roboto;
      // font-weight: bold;
      // font-size: 14px;
      // line-height: 16px;
      // color: #000000;
      // background-color: var(--primaryOrange);
      // padding: 10px 0;
      // margin-bottom: 6px;
      // width: 100%;
      // max-width: 262px;
      // display: flex;
      // justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      width: 100%;
      max-width: 300px;
      margin-bottom: 6px;
      @media (max-width: 768px) {
        // max-width: 240px;
      }
    }
    .divider-box-highlight {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 16px;
    }
    .box-list-article-interested {
      .article-interested-swiper-contain {
        .article-interested-swiper-item {
          .article-interested-swiper-item-tag-link {
            &:hover {
              text-decoration: none;
            }
            .article-interested-swiper-image {
              height: 250px;
            }
            .article-interested-swiper-title {
              margin-top: 16px;
              margin-bottom: 0;
              //font-family: Open Sans;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              @media (max-width: 768px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.kg-image {
  width: 100%;
}

.box-table-data-borrow-bank {
  overflow:auto;
  width: 100%;
      &::-webkit-scrollbar {
        width: 100%;
        height: 2px;
        cursor: pointer;
      }
     &::-webkit-scrollbar-track {
       -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
       cursor: pointer;
     }
     &::-webkit-scrollbar-thumb {
       background-color: darkgrey;
       outline: 1px solid slategrey;
       cursor: pointer;
     }
   .box-table {
     .row-month {
       width: 100%;
       background: #f7f7f7;
       border-top: 1px solid #e6e6e6;
       border-left: 1px solid #e6e6e6;
       margin-bottom: 5px;
       border-collapse: collapse;
       margin-bottom: 0;
       td {
         border-bottom: 1px solid #e6e6e6;
         font-size: 11px;
         padding: 5px 3px;
         vertical-align: middle;
         width: 15%;
         text-align: right;
         cursor: pointer;
         &:first-child {
           cursor: unset;
           width: 40%;
           text-align:left;
         }
         
         &:nth-child(2){
           width: 25%;
           i{
             color: rgb(7, 111, 186);
             font-size: 11px;
             margin-right: 4px;
           }
         }
         &:nth-child(3){
           width: 35%;
         }
         .box-sort-type {
           .icon-sort {
             font-size: 11px;
             margin-right: 4px;
             color: #e4e4e4;
           }
         }
       }
     }
   }
   .data-interest-by-bank {
     min-height: 100%;
     max-height: 285px;
     overflow-y: auto;
     overflow-x:hidden;
     width: 100%;
     height: 100%;
     &.customScroll {
       &::-webkit-scrollbar {
         width: 3px;
         height:1px
         
       }
       &::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
       }
       &::-webkit-scrollbar-thumb {
         background-color: darkgrey;
         outline: 1px solid slategrey;
       }
     }
     .data-interest-table {
       width: 100%;
       border-left: 1px solid #e6e6e6;
       //overflow-x: auto;
       td {
         font-size: 11px;
         padding: 5px 3px;
         vertical-align: middle;
         width: 15%;
         text-align: right;
         border-bottom: 1px solid #e6e6e6;
         &:first-child{
           width: 40%;
           text-align:left;
         }
         
         &:nth-child(2){
           width: 25%;
           
         }
         &:nth-child(3){
           width: 35%;
         }
         
         .spinner-interest {
           height: 60px;
           display: flex;
           justify-content: center;
           align-items: center;
         }
       }
     }
   }
}
.exchange-box {
  margin-top: 40px;
  .exchange-box-highlight {
    // display: flex;
    // justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 100%;
    max-width: 300px;
    // padding: 14px 0;
    // background-color: var(--primaryOrange);
    margin-bottom: 6px;
    // border-radius: 2px;
    // padding-left: 16px;
  }
  .divide-box-right {
    height: 2px;
    background-color: var(--divideOrange);
    margin-bottom: 8px;
  }
  .exchange-box-data {
    padding-bottom: 8px;
    .box-description-exchange {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .smail-text {
        font-size: 12px;
        color: #999;
      }
    }
  }
  .box-table-data-exchange-rate {
    .box-table {
      .row-title {
        width: 100%;
        background: #f7f7f7;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        margin-bottom: 5px;
        border-collapse: collapse;
        margin-bottom: 0;
        //text-align: center;
        td {
          border-bottom: 1px solid #e6e6e6;
          font-size: 10px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 19%;
          text-align: center;
          // cursor: pointer;
          border-left: 1px solid #e6e6e6;
          &:first-child {
            cursor: unset;
          }
          &.col-currency {
            //text-align: left;
            width: 17%;

          }
          &.col-rate {
            width: 26%;
          }
          &:last-child {
            border-right: 1px solid #e6e6e6;
          }
          .box-sort-type {
            .icon-sort {
              font-size: 11px;
              margin-right: 4px;
              color: #e4e4e4;
            }
          }
        }
      }
    }
    .data-exchange-rate {
      min-height: 100%;
      max-height: 285px;
      overflow: auto;
      width: 100%;
      height: 100%;
      &.customScroll {
        &::-webkit-scrollbar {
          width: 2px;
          height: 1px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      .data-exchange-table {
        width: 100%;
        border-left: 1px solid #e6e6e6;
        td {
          font-size: 11px;
          padding: 5px 3px;
          vertical-align: middle;
          width: 19%;
          text-align: center;
          border-bottom: 1px solid #e6e6e6;
          &.col-rate {
            width: 26%;
          }
          &.col-bank{
            text-align: left;
            width: 17%;
          }
          .spinner-interest {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .view-all-exchange {
    margin-top: 8px;
    display: flex;
    align-items: center;
    // float: right;
    justify-content: space-between;
    span {
      font-size: 12px;
      color: #999;
    }
    a {
      font-size: 12px;
      display: inline-block;
    }
  }
}
.detail-rating {
  margin: 0;
  font-size: 16px;
}
.info-author-name {
  display: flex;
  align-items: center;
  @media (max-width: 567px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.rc-rate.rate-custom {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 2px;
  @media (max-width: 567px) {
    margin-left: 0px;
  }
}
