.block-body-gold-today {
  .block-table-gold {
    .date-choose-box {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .title {
        color: #ca931f;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        white-space: nowrap;
      }
      .box-contain-date {
        position: relative;
        margin-left: 16px;
        cursor: pointer;
        .custom-chooose-date {
          width: 140px;
          padding-left: 32px;
          &:focus {
            outline: none;
          }
        }
        .icon-calendar {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translate(-50%, -50%);
        }
      }
    }
    .table-responsive {
      height: 210px;
      overflow: hidden;
      overflow-y: scroll;
      margin-bottom: 8px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
      .table {
        margin: 0;
        thead {
          position: sticky;
          top: 0px;
          tr {
            &:nth-child(1) {
              background-color: #fcf5db;
              @media(max-width: 768px) {
                th {
                  &:nth-child(3) {
                    display: none;
                  }
                }
              }
            }
            &:nth-child(2) {
              background-color: #fefcf4;
              th {
                color: #5e5e5e;
                &:nth-child(1) {
                  font-style: italic;
                  font-size: 11px;
                  font-weight: normal;
                }
              }
              @media(max-width: 768px) {
                th {
                  &:nth-child(4), &:nth-child(5) {
                    display: none;
                  }
                }
              }
            }
          }
          th {
            border: none;
            padding: 0;
            height: 30px;
            vertical-align: middle;
            font-size: 13px;
            padding-left: 12px;
          }
        }
        tbody {
          tr {
            td {
              font-size: 13px;
              border-top: none;
              border-bottom: 1px solid #dee2e6;
              padding: 0;
              height: 30px;
              vertical-align: middle;
              padding-left: 12px;
            }
            @media(max-width: 768px) {
              td {
                &:nth-child(4), &:nth-child(5) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .description-table {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 768px) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      .update {
        margin-left: 12px;
        @media(max-width: 768px) {
          margin: 0;
          margin-top: 8px;
        }
        p {
          margin: 0;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .introduce {
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
          &:nth-child(1) {
            margin: 0;
          }
        }
        span {
          color: #8c8c8c;
          font-size: 12px;
        }
      }
    }
  }
  .divide-gold-table {
    height: 1px;
    background-color: #ca931f;
    margin-top: 48px;
    margin-bottom: 48px;
    @media(max-width: 768px) {
      margin: 24px 0;
    }
  }
  .block-chart-gold {
    .box-choose-gold-code {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #ca931f;
      }
      .choose-code {
        span {
          font-size: 12px;
          font-weight: bold;
          margin-right: 8px;
        }
        .gold-code {
          width: 150px;
          height: 34px;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.box-category-custom {
  margin-top: 32px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
  .box-divider-custom {
    padding-right: 0;
    @media (max-width: 768px) {
      padding-right: 15px;
    }
    .title-block-update-interest {
      // height: 48px;
      // max-width: fit-content;
      // padding: 0 36px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // background-color: var(--primaryOrange);
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      margin-bottom: 6px;
      border-radius: 2px;
      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
        // height: 36px;
        padding: 0 24px;
        padding-left: 0;
      }
    }
    .divide-title-block {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 24px;
      @media (max-width: 768px) {
        // display: none;
      }
    }
  }

  .block-article-first {
    .article-first-item {
      padding-right: 0;
      margin-bottom: 37px;
      display: flex;
      flex-direction: column;
      @media (max-width: 991px) {
        padding-right: 15px;
        flex-direction: row;
        margin-bottom: 16px;
      }
      > a:hover {
        text-decoration: none;
      }
      .article-first-item-box-image {
        max-width: 420px;
        // max-height: 182px;
        height: 260px;
        max-height: 260px;
        @media (max-width: 768px) {
          min-width: 130px;
          max-width: 130px;
          min-height: 80px;
          max-height: 80px;
        }
        .lazyload-wrapper {
          .article-item-detail-image {
            width: 260px;
            max-width: 260px;
            // max-height: 182px;
            height: 160px;
            max-height: 160px;
            // object-fit: cover;
            // object-position: center;
            display: block;
            @media (max-width: 768px) {
              width: 130px;
              max-width: 130px;
              height: 80px;
              max-height: 80px;
            }
          }
          // .article-item-detail-image-small {
          //   display: none;
          //   object-fit: cover;
          //   object-position: center;
          //   width: 130px;
          //   max-width: 130px;
          //   height: 80px;
          //   max-height: 80px;
          //   @media(max-width: 991px) {
          //     display: block;
          //   }
          // }
        }
      }
      .article-first-item-box-content {
        a {
          &:hover {
            text-decoration: none;
          }
        }
        @media (max-width: 768px) {
          margin-left: 16px;
        }
        .article-item-detail-tag {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 14px;
          // display: flex;
          // align-items: center;
          @media (max-width: 768px) {
            margin-top: 0;
            margin-bottom: 4px;
            // flex-direction: row-reverse;
            // justify-content: flex-end;
          }
          .article-item-detail-tag-name {
            font-size: 0.8125rem;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;
            color: #17181e;
            &:hover {
              text-decoration: none;
              color: #888;
            }
            @media (max-width: 768px) {
              font-size: 0.6125rem;
              // margin-top: 0;
            }
          }
          .article-item-detail-tag-seprator {
            font-size: 0.8125rem;
            margin-left: 4px;
            margin-right: 4px;
            &::before {
              content: "/";
            }
            @media (max-width: 768px) {
              font-size: 0.6125rem;
            }
          }
          .article-item-detail-tag-date {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1.4;
            text-transform: lowercase;
            color: #888;
            @media (max-width: 768px) {
              font-size: 0.6125rem;
              // display: none;
            }
          }
          .article-item-detail-tag-date-mobile {
            display: none;
            @media (max-width: 768px) {
              display: unset;
              font-size: 0.6125rem;
              font-weight: 400;
              line-height: 1.4;
              text-transform: uppercase;
              color: #888;
            }
          }
        }
        .article-item-detail-text {
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          color: #000000;
          margin: 0;
          margin-top: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @media (max-width: 768px) {
            margin-top: 8px;
          }
        }
        .article-item-detail-excerpt {
          margin-top: 14px;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 19px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #505050;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    .article-first-item:nth-child(n + 6) {
      // margin-bottom: 0px;
    }
  }
}

.gold-to-day {
  .block-detail-left {
    @media(max-width: 768px) {
      padding: 0;
    }
  }
  .block-suggest-right {
    @media(max-width: 768px) {
      padding: 0;
    }
  }
  .box-category-custom {
    @media(max-width: 768px) {
      padding: 0;
    }
    .box-divider-custom {
      @media(max-width: 768px) {
        padding: 0;
      }
    }
    .article-first-item {
      @media(max-width: 768px) {
        padding: 0;
      }
    }
  }
  .content-page-detail-left-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #000;
    margin-bottom: 40px;
    margin-top: 32px;
    @media(max-width: 768px) {
      font-size: 20px;
    line-height: 27px;
    margin-bottom: 32px;
    }
  }
}