$colors-feature-text-list: #E2EFFF #F0FFC7 #E2FFF8 #FFE5FE #FFEFE4 #FEFBBE;

.interest-rate-of-bank-page-container {
  margin-top: -40px;
  @media(max-width: 768px) {
    margin-top: -9px;
  }
  .block-choose-bank {
    background-color: #F7FAFD;
    .bread-scrum {
      max-width: 1200px;
      margin: auto;
      padding-top: 16px;
      font-size: 14px;
      line-height: 21px;
      @media(max-width: 768px) {
        padding: 0 20px;
        padding-top: 16px;
      }
      a {
        color: #141414;
        &:hover {
          color: #141414;
        }
      }
      .tag-link {
        @media(max-width: 768px) {
          // display: none;
        }
      }
      span {
        color: #616161;
        @media(max-width: 768px) {
          // display: none;
        }
      }
      .bread-scrum-divider {
        color: #141414;
        margin: 0 12px;
        @media(max-width: 768px) {
          &.post {
            // display: none;
          }
        }
      }
    }
    .contain-choose-bank {
      max-width: calc(1200px - 144px);
      margin: 0 auto;
      padding: 80px 0;
      @media(max-width: 768px) {
        padding: 40px 20px;
      }
    }
    .choose-bank-main-title {
      // //font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 60px;
      color: #4C469C;
      text-align: center;
      margin-bottom: 40px;
      @media(max-width: 768px) {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 24px;
      }
    }
    .box-choose-bank {
      max-width: 720px;
      margin: auto;
      margin-top: 40px;
      .choose-bank-label {
        font-size: 14px;
        line-height: 21px;
        color: #616161;
        margin-bottom: 12px;
        @media(max-width: 768px) {
          font-size: 12px;
        }
      }
      .custom-select-box {
        width: 100%;
        .custom-select {
          text-align: left;
          cursor: pointer;
          border: none;
          border-bottom: 1px solid #C4C4C4;
          border-radius: 0;
          background-color: #F7FAFD;
          padding-left: 0;
          padding-bottom: 0;
          background: none;
          // //font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: #483FA8;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .custom-select-menu-box {
          width: 100%;
          top: -8px !important;
          max-height: 256px;
          overflow: auto;
          padding: 0;
          &.customScroll {
            &::-webkit-scrollbar {
              width: 0.5em;
              height: 0.5rem;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: #483FA8;
              outline: 1px solid #E1E1E1;
              border-radius: 8px;
            }
          }
          .box-search-item {
            position: relative;
            padding-left: 32px;
            padding-right: 32px;
            margin-top: 16px;
            .search-image {
              position: absolute;
              left: 38px;
              top: 5px;
            }
            .custom-search-box {
              width: 100%;
              padding-left: 26px;
            }
          }
          .menu-box-item {
            // //font-family: Open Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #616161;
            margin-top: 16px;
            padding-top: 0;
            padding-left: 32px;
            padding-bottom: 0;
            &:last-child {
              margin-bottom: 16px;
            }
            .item-tag-link {
              color: #616161;
              text-decoration: none;
              display: inline-block;
              width: 100%;
            }
          }
        }
        .custom-select-image {
          position: absolute;
          right: 0;
          bottom: 16px;
        }
      }
      .form-group.box-custom-select {
        margin-bottom: 0;
        position: relative;
        cursor: pointer;
        .form-control.custom-select {
          &:focus {
            outline: none;
            box-shadow: none;
          }
          cursor: pointer;
          border: none;
          border-bottom: 1px solid #C4C4C4;
          border-radius: 0;
          background-color: #F7FAFD;
          padding-left: 0;
          padding-bottom: 0;
          background: none;
          // //font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: #483FA8;
          option {
            // //font-family: Open Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #616161;
            margin-bottom: 16px;
            padding: 0 4px !important;
          }
        }
        .custom-select-image {
          position: absolute;
          right: 0;
          bottom: 16px;
        }
      }
      .box-button {
        display: flex;
        margin-top: 40px;
        margin-bottom: 24px;
        @media(max-width: 768px) {
          margin-top: 24px;
          flex-direction: column;
        }
        .box-button-item {
          cursor: pointer;
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
            width: calc(100% - 318px);
            @media(max-width: 768px) {
              width: 100%;
            }
          }
          .box-button-item-left {
            width: fit-content;
            padding: 9px 40px;
            background: radial-gradient(240.02% 9375.91% at 0% 56.25%, #483FA8 0%, rgba(72, 63, 168, 0) 100%);
            border-radius: 40px;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: var(--textWhite);
            margin-bottom: 0;
            @media(max-width: 768px) {
              padding: 9px 28px;
              font-size: 16px;
              line-height: 22px;
            }
          }
          .view-current-interest-rate {
            width: 100%;
            // max-width: 324px;
            // margin-top: 80px;
            height: 48px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            padding: 1rem;
            padding: 2px;
            background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
            border-radius: 40px;
            @media(max-width: 768px) {
              margin: auto;
              margin-top: 32px;
              height: 40px;
            }
            a {
              &:hover {
                text-decoration: none;
              }
            }
            .border-box {
              height: 44px;
              background: #F7FAFD;
              color: #483FA8;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 40px;
              @media(max-width: 768px) {
                justify-content: unset;
                padding-left: 28px;
                padding-right: 28px;
                height: 36px;
              }
              .border-box-title {
                // //font-family: Open Sans;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 0;
                @media(max-width: 768px) {
                  font-size: 16px;
                  line-height: 22px;
                }
              }
              .border-box-image {
                margin-left: 24px;
              }
            }
          }
        }
      }
      .box-desciption {
        p {
          font-style: italic;
          font-size: 12px;
          line-height: 18px;
          color: #999999; 
          margin-bottom: 0;
        }
      }
    }
  }
  .table-data-by-bank {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 40px;
    @media(max-width: 768px) {
      padding: 0 20px;
    }
    .table-data-title-by-bank {
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      color: #4C469C;
      margin-bottom: 24px;
      text-transform: uppercase;
      @media(max-width: 768px) {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 16px;
      }
    }
    .description-table {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 16px;
        line-height: 24px;
        color: #999999;
        margin-bottom: 0;
        @media(max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .custom-table-interest-by-bank {
      margin-top: 24px;
      @media(max-width: 768px) {
        margin-top: 16px;
      }
      .table-responsive {
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 16px;
        .table {
          margin-bottom: 0;
          thead {
            th {
              border-bottom: unset;
              border-top: 1px solid rgba(0, 0, 0, 0.29);
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 33px;
              text-align: center;
              color: var(--textWhite);
              vertical-align: middle;
              background-color: #4C469C;
              border-right: 1px solid rgba(0, 0, 0, 0.29);
              // width: calc(100% / 5);
              // &:first-child {
              //   width: 5%;
              // }
              // &:last-child {
              //   border-right: unset;
              // }
              @media(max-width: 768px) {
                font-size: 14px;
                line-height: 19px;
                min-width: 110px;
                width: 100%;
                // &:first-child {
                //   min-width: 45px;
                // }
              }
              .sort-thead {
                display: flex;
                align-items: center;
                .sort-box-icon {
                  display: flex;
                  flex-direction: column;
                  margin-left: 8px;
                  i {
                    font-size: 24px;
                    line-height: 18px;
                  }
                }
              }
            }
            tr {
              &:nth-child(2) {
                th {
                  cursor: pointer;
                  font-size: 16px;
                  line-height: 22px;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                border-left: 1px solid rgba(0, 0, 0, 0.38);
                &:first-child {
                  border-left: none;
                }
                text-align: center;
                vertical-align: middle;
                // //font-family: Open Sans;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.8);
                @media(max-width: 768px) {
                  font-size: 12px;
                  line-height: 24px;
                  padding: 10px 8px;
                }
                .box-status-currentcy {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .status-currentcy-text {
                    // //font-family: Open Sans;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.8);
                  }
                  .status-currentcy-image {
                    margin-left: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .block-view-more-tool {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 40px;
    @media(max-width: 768px) {
      margin-top: 0px;
      padding: 40px 20px;
      padding-bottom: 0;
    }
    .view-more-tool-title {
      // //font-family: Open Sans;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: rgba(0, 0, 0, 0.67);
      text-align: center;
      margin-bottom: 32px;
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 24px;
      }
    }
    .view-more-tool-item {
      .view-more-tool-item-detail {
        display: flex;
        @each $current-color in $colors-feature-text-list {
          $i: index($colors-feature-text-list, $current-color);
          &:nth-last-of-type(#{$i}) {
            .box-link-icon .item-detail-box {
              background: nth($colors-feature-text-list, $i);
            }
          }
        }
        @media(max-width: 768px) {
          padding: 0;
          padding-bottom: 32px;
          &:nth-child(n+4) {
            padding-bottom: 0;
          }
        }
        .box-link-icon {
          width: 100%;
          max-width: 143px;
          // background-color: #483FA8;
          display: inline-block;
          margin: 0 auto;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          @media(max-width: 768px) {
            max-width: 108px;
          }
          @media(max-width: 380px) {
            max-width: 98px;
          }
          
          &:hover {
            text-decoration: none;
          }
          .item-detail-box {
            height: 143px;
            width: 100%;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 768px) {
              height: 108px;
              > div {
                width: 56px !important;
                height: 56px !important;
              }
            }
          }
          .desciption-image {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin: 0;
            margin-top: 16px;
            color: rgba(0, 0, 0, 0.67);
            @media(max-width: 768px) {
              font-size: 13px;
              line-height: 21px;
            }
          }
          &:hover {
            -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
            .item-detail-box {
              -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            }
            // margin-bottom: -20px;
          }
        }
        // .item-detail-box {
        //   padding: 1rem;
        //   padding: 2px;
        //   background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
        //   border-radius: 40px;
        //   width: 100%;
        //   max-width: 350px;
        //   @media(max-width: 768px) {
        //     display: none;
        //   }
        //   .item-detail-box-border {
        //     padding: 0 24px;
        //     height: 44px;
        //     background: #F7FAFD;
        //     color: #483FA8;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     border-radius: 40px;
        //     .view-more-tool-item-detai-text {
        //       //font-family: Open Sans;
        //       font-weight: 600;
        //       font-size: 16px;
        //       line-height: 24px;
        //       margin: 0;
        //     }
        //     .border-box-image {

        //     }
        //   }
        // }
        // .item-detail-box-moblie {
        //   display: none;
        //   @media(max-width: 768px) {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //   }
        //   .item-detail-box-moblie-text {
        //     //font-family: Open Sans;
        //     font-weight: 600;
        //     font-size: 12px;
        //     line-height: 18px;
        //     color: #483FA8;
        //     margin: 0;
        //     margin-top: 8px;
        //     text-align: center;
        //   }
        // }
      }
    }
  }
  .divider-saving-interest-page {
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background-color: #E9E9E9;
    margin-top: 80px;
    margin-bottom: 80px;
    @media(max-width: 768px) {
      margin: 40px 20px;
    }
  }
  .block-content-page {
      max-width: 1200px;
      margin: auto;
      @media(max-width: 768px) {
        padding: 0 20px;
      }
      .content-page-detail-left {
        padding-right: 24px;
        @media(max-width: 768px) {
          padding-right: 15px;
        }
        .content-page-detail-left-title {
          //font-family: Open Sans;
          font-weight: bold;
          font-size: 40px;
          line-height: 54px;
          color: #000000;
          margin-bottom: 40px;
          @media(max-width: 768px) {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 32px;
          }
        }
        .box-info-author {
          display: flex;
          height: 50px;
          margin-bottom: 40px;
          .info-author-left{
            .box-info-author-image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            }
          }
          .info-author-right {
            margin-left: 16px;
            .info-author-public {
              //font-family: Open Sans;
              font-style: italic;
              font-size: 16px;
              line-height: 22px;
              color: rgba(0, 0, 0, 0.67);
              margin-bottom: 4px;
              @media(max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
              }
            }
            .info-author-name {
              //font-family: Open Sans;
              font-style: italic;
              font-size: 16px;
              line-height: 22px;
              color: rgba(0, 0, 0, 0.67);
              .info-author-name-link {
                color: #000000;
                &:hover {
                  // text-decoration: #000000;
                }
              }
            }
          }
        }
        .image-cover-article {
          margin-bottom: 30px;
        }
        .box-article-html {
          // display: flex;
          position: relative;
          .box-share-artilce {
            position: absolute;
            top: 0;
            bottom: 0;
            @media(max-width: 992px) {
              display: none;
            }
            .box-share-artilce-stiky{
              position: -webkit-sticky;
              position: sticky;
              top: 90px;
              bottom: 0;
              -webkit-transition: visibility 0s linear 0s, opacity .3s 0s;
              transition: visibility 0s linear 0s, opacity .3s 0s;
              .box-share-artilce-item {
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
          .render-html-page {
            margin-left: 100px;
            @media(max-width: 768px) {
              margin-left: 0;
            }
            h1, h2, h3 {
              font-weight: bold;
            }
            h3 {
              font-size: 1.65rem;
            }
            p {
              line-height: 1.7;
            }
            .wp-block-image {
              img {
                width: 100%;
              }
            }
            figcaption {
              color: rgba(0, 0, 0, 0.68);
              font-size: .9375rem;
              font-weight: 400;
              line-height: 1.4;
              margin-top: 10px;
              text-align: center;
            }
            figure {
              &.kg-card.kg-embed-card {
                iframe {
                  width: 100% !important;
                  height: 280px !important;
                }
              }
              &.kg-card.kg-embed-card.kg-card-hascaption {
                iframe {
                  width: 100% !important;
                  height: 700px !important;
                }
              }
            }
            table {
              width: 100% !important;
              &.picture {
                width: 100% !important;
              }
            }
            .tradingview-widget-container {
              width: 100% !important;
              iframe {
                width: 100% !important;
                height: 470px !important;
              }
            }
          }
          .box-share-mobile {
            // @media(min-width: 993px) {
            //   display: none;
            // }
            display: none;
            position: fixed;
            z-index: 100;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            .share-mobile-block {
              background-color: #FFFFFF;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              .share-mobile-block-item {
                margin-right: 16px;
                &:last-child {
                  margin-right: 0;
                }
                .box-mobile-share-contain {
                  border-radius: 8px;
                  width: 100px;
                  height: 27px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &.facebook {
                    background: #3B5998;
                  }
                  &.tweet {
                    background: #1277C9;
                  }
                  &.send {
                    background: #64D448;
                  }
                  .image-share-mobile {
                    margin-right: 8px;
                  }
                  .text-share-mobile {
                    //font-family: Open Sans;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--textWhite);
                  }
                }
              }
            }
          }
        }
        .inner-html {
          table {
            &.picture {
              width: 100% !important;
            }
          }
        }
      }
      .content-page-detail-right {
        padding-left: 24px;
        @media(max-width: 768px) {
          display: none;
        }
        .block-lastest-news {
          margin-bottom: 32px;
          .lastest-news-box-highlight {
            //font-family: Roboto;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            width: 100%;
            // max-width: 230px;
            // height: 36px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // background-color: var(--primaryOrange);
            margin-bottom: 6px;
            @media(max-width: 768px) {
              // max-width: 240px;
            }
          }
          .divider-block-suggest-right {
            height: 2px;
            background-color: var(--divideOrange);
          }
          .box-trading-view {
            .tradingview-widget-container {
              width: 100% !important;
              iframe {
                width: 100% !important;
              }
            }
          }
          .box-news-lastest-article {
            a {
              &:hover {
                text-decoration: none;
              }
            }
            .hot-item-lastest {
              margin-top: 16px;
              .hot-item-image {
                max-height: 167px;
                object-fit: cover;
                object-position: center;
              }
              .hot-item-title {
                margin-top: 12px;
                //font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .divider-article {
              height: 1px;
              background-color: #E9E9E9;
              margin: 16px 0;
            }
            .news-item-normal {
              .divider-article {
                height: 1px;
                background-color: #E9E9E9;
                margin: 16px 0;
                &:last-child {
                  display: none;
                }
              }
              .news-item-normal-detail {
                display: flex;
                .item-detail-image {
                  max-width: 100px;
                  height: 55px;
                  object-fit: cover;
                  object-position: center;
                }
                .item-detail-title {
                  margin-left: 12px;
                  //font-family: Roboto;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 24px;
                  color: #000000;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
  }
  .block-interested-article {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    @media(max-width: 768px) {
      margin-top: 56px;
      padding: 0 20px;
    }
    .interested-article-box-highlight {
      //font-family: Roboto;
      // font-weight: bold;
      // font-size: 14px;
      // line-height: 16px;
      // color: var(--textWhite);
      // background-color: var(--primaryOrange);
      // padding: 10px 0;
      // margin-bottom: 6px;
      // width: 100%;
      // max-width: 262px;
      // display: flex;
      // justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      width: 100%;
      max-width: 300px;
      margin-bottom: 6px;
      @media(max-width: 768px) {
        // max-width: 240px;
      }
    }
    .divider-box-highlight {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 16px;
    }
    .box-list-article-interested {
      .article-interested-swiper-contain {
        .article-interested-swiper-item {
          .article-interested-swiper-item-tag-link {
            &:hover {
              text-decoration: none;
            }
            .article-interested-swiper-image {
              height: 250px;
            }
            .article-interested-swiper-title {
              margin-top: 16px;
              margin-bottom: 0;
              //font-family: Open Sans;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              @media(max-width: 768px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.popular-interest-rate {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 36px;
  .popular-interest-rate-title {
    font-size: 20px;
    font-weight: bold;
  }
}

.popular-bank-item {
  width: 600px;
  max-width: 100%;
  .popular-bank-item-title {
    font-weight: bold;
  }
}

.box-rate {
  display: flex;
  align-items: center;
  .box-rate-item {
    width: 50%;
    border: 1px solid #e1e1e1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
  &:not(:first-child) {
    .box-rate-item {
      border-top: none;
    }
  }
}

.popular-bank-item-table {
  margin-bottom: 24px;
}