.tag-page-container {
  max-width: 1200px;
  margin: auto;
  margin-top: -24px;
  @media (max-width: 768px) {
    margin-top: 16px;
    padding: 0px 20px;
  }
  .bread-scrum-post-page {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 48px;
    a {
      color: #141414;
      &:hover {
        color: #141414;
      }
    }
    span {
      color: #616161;
      @media(max-width: 768px) {
        // display: none;
      }
    }
    .bread-scrum-divider {
      color: #141414;
      margin: 0 12px;
      @media(max-width: 768px) {
        &.post {
          display: none;
        }
      }
    }
    @media(max-width: 768px) {
      margin-bottom: 16px;
    }
  }
  .block-detail-left {
    .block-post-by-tag {
      margin-bottom: 100px; 
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
      .title-detail-tag {
        font-size: 22px;
        line-height: 30px;
        color: #000000;
        font-weight: bold;
        text-align: center;
        margin-bottom: 16px;
      }
      .description-detail-tag {
        font-size: 14px;
        line-height: 21px;
        color: #505050;
        text-align: center;
        margin-bottom: 32px;
      }
      .block-post-by-tag-item {
        .title-block-post-by-tag {
          // height: 48px;
          // max-width: fit-content;
          // padding: 0 36px;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // background-color: var(--primaryOrange);
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          margin-bottom: 6px;
          border-radius: 2px  ;
          @media(max-width: 768px) {
            font-size: 14px;
            line-height: 19px;
            // height: 36px;
            // padding: 0 24p;
          }
        }
        .divide-title-block {
          height: 2px;
          background-color: var(--divideOrange);
          @media(max-width: 768px) {
            // display: none;
          }
        }
        .block-post-data-item {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          .block-post-data-item-detail {
            margin-top: 24px;
            display: flex;
            .block-post-data-item-contain-image {
              .block-post-data-item-image {
                object-fit: contain;
                object-position: center;
                width: 330px;
                height: 198px;
                @media(max-width: 768px) {
                  width: 130px;
                  height: 80px;
                }
              }
            }
            .block-post-data-item-content {
              margin-left: 40px;
              @media(max-width: 768px) {
                margin-left: 16px;
              }
              .block-post-data-item-content-title {
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media(max-width: 768px) {
                  font-size: 14px;
                  line-height: 27px;
                  margin-bottom: 8px;
                }
              }
              .block-post-data-item-content-date {
                font-size: .8125rem;
                font-weight: 400;
                line-height: 1.4;
                text-transform: uppercase;
                color: #888;
                @media (max-width: 768px) {
                  font-size: 14px;
                  line-height: 27px;
                  margin-bottom: 0;
                }
              }
              .block-post-data-item-content-excerpt {
                font-size: 14px;
                line-height: 21px;
                color: #505050;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media (max-width: 768px) {
                  display: none;
                }
              }
            }
          }
        }
        .spinner {
          display: flex;
          justify-content: center;
          margin-top: 48px;
        }
        .box-view-more {
          display: flex;
          justify-content: center;
          margin-top: 48px;
          .button-view-more {
            background: #FFFFFF;
            color: #4C469C;
            border-radius: 8px;
            border: 1px solid #4C469C;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            width: fit-content;
            padding: 8px 16px;
            cursor: pointer;
            margin-bottom: 0;
            &:hover {
              background: radial-gradient(240.02% 9375.91% at 0% 56.25%, #483FA8 0%, rgba(72, 63, 168, 0) 100%);
              color: #FFFFFF;
              border: 1px solid transparent;
            }
          }
        }
      }
      
    }
  }
  .block-body-right {
    padding-left: 40px;
    @media(max-width: 991px) {
      padding-left: 15px;
    }
    .check-interest-rate {
      .check-interest-rate-item {
        cursor: pointer;
        .check-interest-rate-text {
          padding: 12px 15px;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #555555;
          background-color: #F5F5F5;
          border-radius: 4px 4px 0px 0px;
          margin-bottom: 6px;
          &.active {
            color: var(--textWhite);
            background-color: var(--primaryOrange);
          }
        }
        &:nth-child(1) {
          padding-right: 2px;
        }
        &:nth-child(2) {
          padding-left: 2px;
        }
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .box-select-right {
        background: #F5F5F5;
        border-radius: 8px;
        padding: 32px 24px 24px 24px;
      }
      .button-check-right {
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .button-check-right-text {
          width: fit-content;
          padding: 8px 24px;
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: var(--textWhite);
          background: linear-gradient(90deg, #483FA8 0.65%, #6B61D5 51.64%, #8C81FF 100%), linear-gradient(90deg, #483FA8 0.65%, #6B61D5 51.64%, #8C81FF 100%);
          border-radius: 4px;
        }
        .description-text {
          margin: 0;
          margin-top: 16px;
          font-style: italic;
          font-size: 12px;
          line-height: 16px;
          color: #A4A4A4;
        }
      }
    }
    .current-price {
      margin-top: 40px;
      .current-price-box-highlight {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: var(--textWhite);
        width: 100%;
        max-width: 300px;
        padding: 14px 0;
        background-color: var(--primaryOrange);
        margin-bottom: 6px;
        border-radius: 2px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .data-table-current-price {
        .table-current-gold {
          td {
            .gold-text {
              margin: 0;
            }
          }
          .gold-value {
            display: flex;
            align-items: center;
            > img {
              margin-left: 2px;
            }
          }
        }
        .table-current-money {
          td {
            .gold-text {
              margin: 0;
            }
          }
          .gold-value {
            display: flex;
            align-items: center;
            > img {
              margin-left: 2px;
            }
          }
        }
      }
    }
    .stock-box {
      margin-top: 40px;
      .stock-box-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        // max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .stock-box-chart {}
    }
    .vietlot-block {
      margin-top: 40px;
      .vietlot-box-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        // max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        a {
          color: #000000;
        }
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .data-table-vietlot {
        .table-vietlot {
          @media(max-width: 768px) {
            margin-bottom: 100px;
          }
          td {
            vertical-align: middle;
            &:first-child {
              width: 55%;
            }
            .highlight-title {
              //font-family: Roboto;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: #FF0000;
              margin-bottom: 4px;
            }
            .title-normal {
              //font-family: Roboto;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #505050;
              margin-bottom: 0;
            }
            .number-normal {
              //font-family: Roboto;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              color: #505050;
              margin-bottom: 0;
              text-align: center;
            }
          }
        }
      }
    }
    .interest-bank-block {
      .interest-bank-highlight {
        // display: flex;
        // justify-content: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        width: 100%;
        max-width: 300px;
        // padding: 14px 0;
        // background-color: var(--primaryOrange);
        margin-bottom: 6px;
        // border-radius: 2px;
        // padding-left: 16px;
      }
      .divide-box-right {
        height: 2px;
        background-color: var(--divideOrange);
        margin-bottom: 8px;
      }
      .interest-box-data {
        padding-bottom: 8px;
        .box-description-interrest {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .smail-text {
            font-size: 12px;
            color: #999;
          }
          .choose-type-interest {
            .type-interest-item {
              min-width: 75px;
              text-align: center;
              height: 24px;
              line-height: 23px;
              font-size: 12px;
              color: #ABABAB;
              border: 1px solid #E5E5E5;
              background: #f7f7f7;
              display: inline-block;
              cursor: pointer;
              &:first-child {
                border-radius: 3px 0 0 3px;
                border-right: none;
              }
              &.active {
                background: #fff;
                font-weight: 700;
                color: #222;
              }
            }
          }
        }
      }
      .box-table-data-intterest-bank {
        .box-table {
          .row-month {
            width: 100%;
            background: #f7f7f7;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            margin-bottom: 5px;
            border-collapse: collapse;
            margin-bottom: 0;
            td {
              border-bottom: 1px solid #e6e6e6;
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              cursor: pointer;
              &:first-child {
                cursor: unset;
              }
              &.col-bank {
                width: 25%;
                text-align: left;
              }
              &:last-child {
                border-right: 1px solid #e6e6e6;
              }
              .box-sort-type {
                .icon-sort {
                  font-size: 11px;
                  margin-right: 4px;
                  color: #e4e4e4;
                }
              }
            }
          }
        }
        .data-interest-by-bank {
          min-height: 100%;
          max-height: 285px;
          overflow: auto;
          width: 100%;
          height: 100%;
          &.customScroll {
            &::-webkit-scrollbar {
              width: 2px;
              height: 1px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
          }
          .data-interest-table {
            width: 100%;
            border-left: 1px solid #e6e6e6;
            td {
              font-size: 11px;
              padding: 5px 3px;
              vertical-align: middle;
              width: 15%;
              text-align: right;
              border-bottom: 1px solid #e6e6e6;
              &.col-bank {
                width: 25%;
                text-align: left;
              }
              .spinner-interest {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      .view-all-interrest {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 12px;
          color: #999;
        }
        a {
          font-size: 12px;
          display: inline-block;
        }
      }
    }
  }
  .divider-homepage-left {
    padding-right: 0;
    @media(max-width: 768px) {
      padding-right: 15px;
    }
    .divider-homepage {
      margin: 56px 0;
      background-color: #E9E9E9;
      height: 1px;
      width: 100%;
      @media(max-width: 991px) {
        margin: 40px 0;
      }
    }
  }
  .data-not-found-home {
    padding: 32px 0;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    > img {
      max-width: 210px;
      display: block;
      margin: auto;
    }
  }
}