$colors-feature-text-list: #E2EFFF #F0FFC7 #E2FFF8 #FFE5FE #FFEFE4 #FEFBBE;

.currentcy-calculator-page-container {
  margin-top: -40px;
  @media(max-width: 768px) {
    margin-top: -9px;
  }
  .block-tool-calc-loan {
    background-color: #F7FAFD;
    .contain-calc-tool {
      max-width: calc(1200px - 144px);
      margin: 0 auto;
      padding: 80px 0;
      @media(max-width: 768px) {
        padding: 40px 20px;
      }
      .calc-tool-main-title {
        // //font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #4C469C;
        text-align: center;
        margin-bottom: 40px;
        @media(max-width: 768px) {
          font-size: 22px;
          line-height: 33px;
          margin-bottom: 24px;
        }
      }
      .check-radio-value {
        max-width: 800px;
        margin: auto;
        .check-radio-value-item {
          display: flex;
          align-items: center;
          @media(max-width: 768px) {
            padding: 0;
            margin-top: 16px;
            &:first-child {
              margin-top: 0;
            }
          }
          [type="radio"]:checked,
          [type="radio"]:not(:checked) {
              position: absolute;
              left: -9999px;
          }
          [type="radio"]:checked + label,
          [type="radio"]:not(:checked) + label
          {
              position: relative;
              padding-left: 48px;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              color: #666;
          }
          [type="radio"]:checked + label:before,
          [type="radio"]:not(:checked) + label:before {
              content: '';
              position: absolute;
              left: 0;
              top: -5px;
              width: 30px;
              height: 30px;
              border: 2px solid #4C469C;
              border-radius: 100%;
              background: #F7FAFD;
              @media(max-width: 768px) {
                width: 24px;
                height: 24px;
              }
          }
          [type="radio"]:checked + label:after,
          [type="radio"]:not(:checked) + label:after {
              content: '';
              width: 14px;
              height: 14px;
              background: #4C469C;
              position: absolute;
              top: 3px;
              left: 8px;
              border-radius: 100%;
              -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
              @media(max-width: 768px) {
                width: 12px;
                height: 12px;
                top: 1px;
                left: 6px;
              }
          }
          [type="radio"]:not(:checked) + label:after {
              opacity: 0;
              -webkit-transform: scale(0);
              transform: scale(0);
          }
          [type="radio"]:checked + label:after {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
          }
          .custom-radio-check {
            // width: 30px;
            // height: 30px;
            // &:after {
            //   width: 15px;
            //   height: 15px;
            // }
          }
          .label-radio-custom {
            // //font-family: Open Sans;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #616161;
            margin-left: 16px;
            margin-bottom: 0;
            @media(max-width: 768px) {
              margin-left: 0;
            }
          }
        }
      }
      .block-calc-content {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @media(max-width: 768px) { 
          margin-top: 32px;
        }
        .block-calc-content-left {
          .calc-content-left-item {
            margin-bottom: 40px;
            &:nth-child(4) {
              margin-bottom: 24px;
            }
            @media(max-width: 768px) {  
              margin-bottom: 32px;
              &:nth-child(3) {
                margin-bottom: 20px;
              }
            }
            position: relative;
            // .dropdown {
            //   &:focus {
            //     .dropdown-menu {
            //       display: block;
            //     }
            //   }
            //   .dropdown-toggle {
            //     &:focus {
            //       // .dropdown-menu {
            //       //   display: block;
            //       // }
            //     }
            //   }
            // }
            .custom-select-box {
              width: 100%;
              .custom-select {
                text-align: left;
                cursor: pointer;
                border: none;
                border-bottom: 1px solid #C4C4C4;
                border-radius: 0;
                background-color: #F7FAFD;
                padding-left: 0;
                padding-bottom: 0;
                background: none;
                // //font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                color: #483FA8;
                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }
              .custom-select-menu-box {
                width: 100%;
                top: -8px !important;
                max-height: 256px;
                overflow: auto;
                padding: 0;
                &.customScroll {
                  &::-webkit-scrollbar {
                    width: 0.5em;
                    height: 0.5rem;
                  }
                  &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  }
                  &::-webkit-scrollbar-thumb {
                    background-color: #483FA8;
                    outline: 1px solid #E1E1E1;
                    border-radius: 8px;
                  }
                }
                .menu-box-item {
                  // //font-family: Open Sans;
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 24px;
                  color: #616161;
                  margin-top: 16px;
                  padding-top: 0;
                  padding-left: 32px;
                  padding-bottom: 0;
                  &:last-child {
                    margin-bottom: 16px;
                  }
                }
              }
              .custom-select-image {
                position: absolute;
                right: 0;
                bottom: 16px;
              }
            }
            .form-group.box-custom-select {
              margin-bottom: 0;
              position: relative;
              cursor: pointer;
              .form-control.custom-select {
                &:focus {
                  outline: none;
                  box-shadow: none;
                }
                cursor: pointer;
                border: none;
                border-bottom: 1px solid #C4C4C4;
                border-radius: 0;
                background-color: #F7FAFD;
                padding-left: 0;
                padding-bottom: 0;
                background: none;
                // //font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                color: #483FA8;
                option {
                  // //font-family: Open Sans;
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 24px;
                  color: #616161;
                  margin-bottom: 16px;
                  padding: 0 4px !important;
                }
              }
              .custom-select-image {
                position: absolute;
                right: 0;
                bottom: 16px;
              }
            }
            .custom-select {
              
            }
            .content-left-title {
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #616161;
              margin-bottom: 12px;
              @media(max-width: 768px) {
                margin-bottom: 16px;
              }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type=text].custom-input-calc-left, input[type=number].custom-input-calc-left {
              width: 100%;
              box-sizing: border-box;
              border: none;
              border-bottom: 1px solid #C4C4C4;
              background-color: #F7FAFD;
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 33px;
              color: #483FA8;
              -moz-appearance: textfield;
              &:focus {
                outline: none;
              }
              &#so-tien-gui {
                padding-right: 20px;
              }
            }
            .icon-end-input {
              position: absolute;
              bottom: 6px;
              right: 0px;
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #616161;
            }
          }
          .description-text {
            // //font-family: Open Sans;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #999999;
            // margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .view-result {
            cursor: pointer;
            // //font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: var(--textWhite);
            margin: 0;
            margin-top: 24px;
            height: 48px;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: fit-content;
            padding: 0 56px;
            background: radial-gradient(240.02% 9375.91% at 0% 56.25%, #483FA8 0%, rgba(72, 63, 168, 0) 100%);
            border-radius: 40px;
            @media(max-width: 768px) {
              padding: 0 26px;
              font-size: 16px;
              line-height: 22px;
              height: 40px;
              margin: auto;
              margin-top: 24px;
              margin-bottom: 40px;
            }
          }
        }
        .block-calc-content-right {
          .calc-tool-box {
            background: #FFFFFF;
            box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 5px 5px 24px rgba(72, 63, 168, 0.4);
            border-radius: 16px;
            padding: 28px 40px;
            min-height: 300px;
            display: flex;
            align-items: center;
            @media(max-width: 768px) {
              padding: 24px 32px;
              max-height: 245px;
              min-height: unset;
            }
            .calc-tool-box-tile {
              // //font-family: Open Sans;
              font-weight: bold;
              font-size: 14px;
              line-height: 21px;
              color: #9A9A9A;
              margin-bottom: 8px;
              @media(max-width: 768px) {
                margin-bottom: 24px;
              }
            }
            .calc-tool-box-value {
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: bold;
              font-size: 48px;
              line-height: 72px;
              color: #483FA8;
              margin-bottom: 40px;
              display: flex;
              align-items: flex-start;
              &:last-child {
                margin-bottom: 0px;
              }
              @media(max-width: 768px) {
                font-size: 36px;
                line-height: 72px;
              }
              .calc-tool-box-value-unit {

              }
            }
          }
          .view-current-interest-rate {
            width: 100%;
            max-width: 324px;
            margin-top: 80px;
            height: 48px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            padding: 1rem;
            padding: 2px;
            background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
            border-radius: 40px;
            @media(max-width: 768px) {
              margin: auto;
              margin-top: 48px;
            }
            .border-box {
              height: 44px;
              background: #F7FAFD;
              color: #483FA8;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 40px;
              .border-box-title {
                // //font-family: Open Sans;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 0;
              }
              .border-box-image {
                margin-left: 24px;
              }
            }
          }
        }
      }
    }
  }
  .table-data-currentcy {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 80px;
    @media(max-width: 768px) {
      padding: 0 20px;
    }
    .table-data-currentcy-title {
      // //font-family: Open Sans;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 32px;
    }
    .table-data-currentcy-time-update {
      // //font-family: Open Sans;
      font-size: 12px;
      line-height: 16px;
      color: #999999;
      margin-bottom: 24px;
    }
    .custom-table-currentcy {
      .table-responsive {
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 16px;
        .table {
          margin-bottom: 0;
          thead {
            th {
              border-bottom: unset;
              border-top: 1px solid rgba(0, 0, 0, 0.29);
              // //font-family: Open Sans;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 33px;
              text-align: center;
              color: var(--textWhite);
              vertical-align: middle;
              background-color: #4C469C;
              border-right: 1px solid rgba(0, 0, 0, 0.29);
              width: calc(100% / 5);
              // &:first-child {
              //   width: 5%;
              // }
              // &:last-child {
              //   border-right: unset;
              // }
              @media(max-width: 768px) {
                font-size: 14px;
                line-height: 19px;
                min-width: 110px;
                width: 100%;
                // &:first-child {
                //   min-width: 45px;
                // }
              }
            }
          }
          tbody {
            tr {
              td {
                border-left: 1px solid rgba(0, 0, 0, 0.38);
                &:first-child {
                  border-left: none;
                }
                text-align: center;
                vertical-align: middle;
                // //font-family: Open Sans;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.8);
                @media(max-width: 768px) {
                  font-size: 12px;
                  line-height: 24px;
                  padding: 10px 8px;
                }
                .box-status-currentcy {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .status-currentcy-text {
                    // //font-family: Open Sans;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.8);
                  }
                  .status-currentcy-image {
                    margin-left: 8px;
                  }
                }
              }
              // &:last-child {
              //   td {
              //     &:first-child {
              //       //font-family: Open Sans;
              //       font-style: normal;
              //       font-weight: bold;
              //       font-size: 24px;
              //       line-height: 33px;
              //       color: #4C469C;
              //       @media(max-width: 768px) {
              //         font-size: 18px;
              //         line-height: 25px;
              //       }
              //     }
              //   }
              // }
            }
          }
        }
      }
    }
  }
  .block-view-more-tool {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 40px;
    @media(max-width: 768px) {
      margin-top: 0px;
      padding: 40px 20px;
      padding-bottom: 0;
    }
    .view-more-tool-title {
      // //font-family: Open Sans;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: rgba(0, 0, 0, 0.67);
      text-align: center;
      margin-bottom: 32px;
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 24px;
      }
    }
    .view-more-tool-item {
      .view-more-tool-item-detail {
        display: flex;
        @each $current-color in $colors-feature-text-list {
          $i: index($colors-feature-text-list, $current-color);
          &:nth-last-of-type(#{$i}) {
            .box-link-icon .item-detail-box {
              background: nth($colors-feature-text-list, $i);
            }
          }
        }
        @media(max-width: 768px) {
          padding: 0;
          padding-bottom: 32px;
          &:nth-child(n+4) {
            padding-bottom: 0;
          }
        }
        .box-link-icon {
          width: 100%;
          max-width: 143px;
          // background-color: #483FA8;
          display: inline-block;
          margin: 0 auto;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          @media(max-width: 768px) {
            max-width: 108px;
          }
          @media(max-width: 380px) {
            max-width: 98px;
          }
          
          &:hover {
            text-decoration: none;
          }
          .item-detail-box {
            height: 143px;
            width: 100%;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 768px) {
              height: 108px;
              > div {
                width: 56px !important;
                height: 56px !important;
              }
            }
          }
          .desciption-image {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin: 0;
            margin-top: 16px;
            color: rgba(0, 0, 0, 0.67);
            @media(max-width: 768px) {
              font-size: 13px;
              line-height: 21px;
            }
          }
          &:hover {
            -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
            .item-detail-box {
              -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            }
            // margin-bottom: -20px;
          }
        }
        // .item-detail-box {
        //   padding: 1rem;
        //   padding: 2px;
        //   background: linear-gradient(91.37deg, #483FA8 5.95%, #483FA8 5.95%, #C6C1FF 93.89%);
        //   border-radius: 40px;
        //   width: 100%;
        //   max-width: 350px;
        //   @media(max-width: 768px) {
        //     display: none;
        //   }
        //   .item-detail-box-border {
        //     padding: 0 24px;
        //     height: 44px;
        //     background: #F7FAFD;
        //     color: #483FA8;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     border-radius: 40px;
        //     .view-more-tool-item-detai-text {
        //       //font-family: Open Sans;
        //       font-weight: 600;
        //       font-size: 16px;
        //       line-height: 24px;
        //       margin: 0;
        //     }
        //     .border-box-image {

        //     }
        //   }
        // }
        // .item-detail-box-moblie {
        //   display: none;
        //   @media(max-width: 768px) {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //   }
        //   .item-detail-box-moblie-text {
        //     //font-family: Open Sans;
        //     font-weight: 600;
        //     font-size: 12px;
        //     line-height: 18px;
        //     color: #483FA8;
        //     margin: 0;
        //     margin-top: 8px;
        //     text-align: center;
        //   }
        // }
      }
    }
  }
  .divider-saving-interest-page {
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background-color: #E9E9E9;
    margin-top: 80px;
    margin-bottom: 80px;
    @media(max-width: 768px) {
      margin: 40px 20px;
    }
  }
  .block-content-page {
    max-width: 1200px;
    margin: auto;
    @media(max-width: 768px) {
      padding: 0 20px;
    }
    .content-page-detail-left {
      padding-right: 24px;
      @media(max-width: 768px) {
        padding-right: 15px;
      }
      .content-page-detail-left-title {
        //font-family: Open Sans;
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        color: #000000;
        margin-bottom: 40px;
        @media(max-width: 768px) {
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 32px;
        }
      }
      .box-info-author {
        display: flex;
        height: 50px;
        margin-bottom: 40px;
        .info-author-left{
          .box-info-author-image {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          }
        }
        .info-author-right {
          margin-left: 16px;
          .info-author-public {
            //font-family: Open Sans;
            font-style: italic;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.67);
            margin-bottom: 4px;
            @media(max-width: 768px) {
              font-size: 14px;
              line-height: 20px;
            }
          }
          .info-author-name {
            //font-family: Open Sans;
            font-style: italic;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.67);
            .info-author-name-link {
              color: #000000;
              &:hover {
                // text-decoration: #000000;
              }
            }
          }
        }
      }
      .image-cover-article {
        margin-bottom: 30px;
      }
      .box-article-html {
        // display: flex;
        position: relative;
        .box-share-artilce {
          position: absolute;
          top: 0;
          bottom: 0;
          @media(max-width: 992px) {
            display: none;
          }
          .box-share-artilce-stiky{
            position: -webkit-sticky;
            position: sticky;
            top: 90px;
            bottom: 0;
            -webkit-transition: visibility 0s linear 0s, opacity .3s 0s;
            transition: visibility 0s linear 0s, opacity .3s 0s;
            .box-share-artilce-item {
              margin-bottom: 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .render-html-page {
          margin-left: 100px;
          @media(max-width: 768px) {
            margin-left: 0;
          }
          h1, h2, h3 {
            font-weight: bold;
          }
          h3 {
            font-size: 1.65rem;
          }
          p {
            line-height: 1.7;
          }
          .wp-block-image {
            img {
              width: 100%;
            }
          }
          figcaption {
            color: rgba(0, 0, 0, 0.68);
            font-size: .9375rem;
            font-weight: 400;
            line-height: 1.4;
            margin-top: 10px;
            text-align: center;
          }
          figure {
            &.kg-card.kg-embed-card {
              iframe {
                width: 100% !important;
                height: 280px !important;
              }
            }
            &.kg-card.kg-embed-card.kg-card-hascaption {
              iframe {
                width: 100% !important;
                height: 700px !important;
              }
            }
          }
          table {
            width: 100% !important;
            &.picture {
              width: 100% !important;
            }
          }
          .tradingview-widget-container {
            width: 100% !important;
            iframe {
              width: 100% !important;
              height: 470px !important;
            }
          }
        }
        .box-share-mobile {
          // @media(min-width: 993px) {
          //   display: none;
          // }
          display: none;
          position: fixed;
          z-index: 100;
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
          .share-mobile-block {
            background-color: #FFFFFF;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .share-mobile-block-item {
              margin-right: 16px;
              &:last-child {
                margin-right: 0;
              }
              .box-mobile-share-contain {
                border-radius: 8px;
                width: 100px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.facebook {
                  background: #3B5998;
                }
                &.tweet {
                  background: #1277C9;
                }
                &.send {
                  background: #64D448;
                }
                .image-share-mobile {
                  margin-right: 8px;
                }
                .text-share-mobile {
                  //font-family: Open Sans;
                  font-size: 14px;
                  line-height: 19px;
                  color: var(--textWhite);
                }
              }
            }
          }
        }
      }
      .inner-html {
        table {
          &.picture {
            width: 100% !important;
          }
        }
      }
    }
    .content-page-detail-right {
      padding-left: 24px;
      @media(max-width: 768px) {
        display: none;
      }
      .block-lastest-news {
        margin-bottom: 32px;
        .lastest-news-box-highlight {
          //font-family: Roboto;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          width: 100%;
          // max-width: 230px;
          // height: 36px;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // background-color: var(--primaryOrange);
          margin-bottom: 6px;
          @media(max-width: 768px) {
            // max-width: 240px;
          }
        }
        .divider-block-suggest-right {
          height: 2px;
          background-color: var(--divideOrange);
        }
        .box-trading-view {
          .tradingview-widget-container {
            width: 100% !important;
            iframe {
              width: 100% !important;
            }
          }
        }
        .box-news-lastest-article {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          .hot-item-lastest {
            margin-top: 16px;
            .hot-item-image {
              max-height: 167px;
              object-fit: cover;
              object-position: center;
            }
            .hot-item-title {
              margin-top: 12px;
              //font-family: Roboto;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 27px;
              color: #000000;
              margin-bottom: 0;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .divider-article {
            height: 1px;
            background-color: #E9E9E9;
            margin: 16px 0;
          }
          .news-item-normal {
            .divider-article {
              height: 1px;
              background-color: #E9E9E9;
              margin: 16px 0;
              &:last-child {
                display: none;
              }
            }
            .news-item-normal-detail {
              display: flex;
              .item-detail-image {
                max-width: 100px;
                height: 55px;
                object-fit: cover;
                object-position: center;
              }
              .item-detail-title {
                margin-left: 12px;
                //font-family: Roboto;
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  .block-interested-article {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    @media(max-width: 768px) {
      margin-top: 56px;
      padding: 0 20px;
    }
    .interested-article-box-highlight {
      //font-family: Roboto;
      // font-weight: bold;
      // font-size: 14px;
      // line-height: 16px;
      // color: var(--textWhite);
      // background-color: var(--primaryOrange);
      // padding: 10px 0;
      // margin-bottom: 6px;
      // width: 100%;
      // max-width: 262px;
      // display: flex;
      // justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      width: 100%;
      max-width: 300px;
      margin-bottom: 6px;
      @media(max-width: 768px) {
        // max-width: 240px;
      }
    }
    .divider-box-highlight {
      height: 2px;
      background-color: var(--divideOrange);
      margin-bottom: 16px;
    }
    .box-list-article-interested {
      .article-interested-swiper-contain {
        .article-interested-swiper-item {
          .article-interested-swiper-item-tag-link {
            &:hover {
              text-decoration: none;
            }
            .article-interested-swiper-image {
              height: 250px;
            }
            .article-interested-swiper-title {
              margin-top: 16px;
              margin-bottom: 0;
              //font-family: Open Sans;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              @media(max-width: 768px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}