.contact-page-contain{

    background: linear-gradient(30.45deg, #EDFA99 0%, #EAF9B5 50.83%, #DAF198 80.05%, #CEF28B 98.56%);
    // padding-top: 80px;
    padding: 100px 0;

    .contact-page-title{
        margin-bottom: 48px;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        color: var(--primaryColorText);
        text-align: center;

        @media(max-width: 768px){
            font-weight: bold;
            font-size: 32px;
            line-height: 56px;
            margin-bottom: 32px;
        }
    }

    .contact-form-contain{

        display: flex;
        max-width: 900px;
        margin: auto;

        @media(max-width:899px){
            padding: 0 24px;
        }

        @media(max-width:768px){
            flex-direction: column;
        }

        .form-section-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 40px;

            @media (max-width:768px) {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                margin-bottom: 16px;
            }
        }

        & > *{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            flex: 0 50%;
            padding: 60px 40px;

            @media(max-width:768px){
                flex: 0 100%;
                padding: 40px 22px;
            }
            
        }

        .contact-form-information-block{

            background-image: url('/images/information-form-background.png');

            
            border-radius: 8px 0px 0px 8px;

            box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);

            @media(max-width:767px){
                border-radius: 8px 8px 0px 0px;
                background-image: url('/images/information-form-mobile-background.png');
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            }

            .form-information-company-name{
                color: var(--primaryColorText);
            }

            .form-information-link{
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                cursor: pointer;
            }

            .form-information-address-title-icon{
                width: 18px;
                height: 18px;
                margin-right: 8px;
            }

            .form-information-address{

                .form-information-address-title{

                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--primaryColorText);

                    margin-bottom: 8px;

                    .form-information-address-title-icon{

                    }

                }

                .form-information-address-text{

                }

            }

        }

        .contact-form-inputs-block{

            background-image: url('/images/inputs-form-background.png');

            border-radius: 0px 8px 8px 0px;
            position: relative;

            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

            @media(max-width:767px){
                border-radius: 0px 0px 8px 8px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                background-image: url('/images/inputs-form-mobile-background.png');
            }

            &::after{
                content: '';
                position: absolute;
                top: 10%;
                // left: 0;
                right: 100%;

                margin: auto;
                width: 0;
                height: 0;
                border-right: solid 24px #8ABC44;
                border-top: solid 20px transparent;
                border-bottom: solid 20px transparent;

                @media(max-width:768px){
                    // top: initial;
                    // bottom: 100%;
                    // right: 10%;
                    // border-bottom: solid 24px #8ABC44;
                    // border-right: solid 20px transparent;
                    // border-left: solid 20px transparent;
                    // border-top: none;
                    display: none;
                }
            }

            .form-inputs-title{
                color: #fff;
            }

            .input-groups-container{

                .contact-form-input-group{

                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;

                    .contact-form-label{
                        margin-bottom: 8px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;
                        color: #fff;
                    }
                    
                    .contact-form-input{
                        background: transparent;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        padding: 8px 8px;
                        color: #fff;
                        font-size: 14px;
                        line-height: 100%;

                        &:focus,&:active{
                            outline: #eaeaea auto 1px !important;
                        }

                    }

                    .contact-form-inputarea{
                        resize: none;
                        height: 100px;
                    }

                }

            }

        }

        .contact-form-submit-button{
            margin: auto;
            margin-top: 40px;
            color: var(--primaryColorText);
            background:#fff;
            padding: 12px 32px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none !important;
            cursor: pointer;

            &:hover{
                opacity: 0.8;
            }

            @media (max-width:768px) {
                margin-top: 16px;
            }
        }

    }

}