

@media (max-width: 1080px){
  .logo-header-respo {
    height: 40px;
    width: auto;
  }
}

.block-header-logo-theme {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: 12px;
  display: flex; 
  justify-content: space-between;
  @media(max-width: 1080px) {
    display: none;
    // padding: 0 20px;
    // padding-top: 12px;
  }
}

.navmenu-contain-section{
  /* justify-content: flex-end; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  // padding-bottom: 6px;
}

.navmenu-contain-link-section{
  display:flex;
}

.navmenu-contain-link-section > *:not(:first-child){
  margin-left:5%
}

.dropdown-nav:hover{

  .navmenu-link-item{
    color:#F7CB3D !important;
  }

}

.navmenu-link-item{
  display:flex;
  align-items: center;
  color:#000000 !important;
  text-decoration:none;
  cursor:pointer;
  position: relative;
  z-index: 11;
}

a.navmenu-link-item:hover{
  text-decoration:none;
}

.navmenu-link-item .navmenu-link-icon{
  margin-right: 10px;
}

.navmenu-link-item .navmenu-link-text{
  line-height: 19px;
  font-weight: bold;
  font-size: 14px;
}

.navmenu-link-item .navmenu-link-text:hover {
  color:#F7CB3D !important;
}

.navmenu-search-input{
  height:32px;
  position:absolute;
  transition: all 0.3s ease-in-out;
  right:0;
  width: 0px;
  overflow: hidden;
  padding: 0px;
  border: 0px;
  border-radius: 16px;
  bottom: -7px;
  font-size: 14px;
}

.search-navmenu-icon{
  z-index: 31;
  width: 14px;
  height: 14px;
  position: relative;
  bottom: 2px;
}

.navmenu-search-input.show-searchbar{
  width: 260px;
  padding-left: 8px;
  padding-right: 36px;
  outline: none;
  z-index: 30;
}

.navmenu-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--headerGray);
  font-size: 12px;
  opacity: 1; /* Firefox */
}

.navmenu-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--headerGray);
  font-size: 12px;
}

.navmenu-search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--headerGray);
  font-size: 12px;
}

.navmenu-contain-section > *{
  // justify-content: flex-end;
}

.navmenu-info-inner-section{
  display:flex;
  margin-bottom: 14px;
  /* justify-content: space-evenly; */
}


.navmenu-info-inner-section > .navmenu-info-item{
  display: flex;
  align-items :center;
}

.navmenu-info-item > .navmenu-info-text {
  font-size: 12px;
  line-height: 120%;
  color: var(--commonWhite);
  text-decoration: none;
}

.navmenu-info-item > .navmenu-info-logo{
  margin-right: 4px;
  width: 14px;
  height: auto;
}

.navmenu-info-inner-section > .navmenu-info-item:not(:first-child){
  margin-left: 16px;
}

.search-navmenu-contain{
  width: 40px;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  position: relative;
  height: 100%;
  align-items: center;
  // margin-bottom: 16px;
}

.banner-curved{
  // background-image: url(/static/image/curved-header.svg) ;
  position:absolute;
  left:0;
  right:0;
  width:100%;
  bottom:calc(-100% - (-100% + 63px));
  height:100%;
  background-repeat: no-repeat;
  background-position: 0 calc(100% + 10px);;
  background-size: cover;
  margin:0px;
  z-index: 10;
  max-height: 65px;
}

@media (max-width: 1080px){
  .banner-curved{
    bottom: -70%;
  }
}

@media (max-width: 414px){
  .banner-curved{
      // background-image: url(/static/image/curved-header-mobile.svg) ;
      // max-height: 25px;
      width: 100%;
      height: 100%;
      top: calc(100% - 1px);
      // bottom: 0px;
      background-size: contain;
      background-position: top;
  }
}

.navmenu-link-item-dropdown{
  // background: var(--headerBackground);
  background: #FFFFFF;
}

.navmenu-link-item-dropdown-item{
  padding: 8px 16px ;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.navmenu-link-item-dropdown-item:hover{
  // background:var(--hoverNavbarItemBackground)
  background: #F7CB3D;
  color: #FFFFFF;
}

.navmenu-link-item-subdropdown-menu{
  background: red;
  color:#fff
}

.navmenu-link-item-subdropdown:hover{
  background: #F7CB3D;
  color: #FFFFFF !important;
  .material-icons {
    color: #FFFFFF !important;
  }
}

.navmenu-link-item-subdropdown .dropdown-nav{
  position: initial;
}

.navmenu-link-item-dropdown-text{
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 19px;
  font-weight: 600;
  // color: #FFFFFF;
}

.navmenu-link-item-dropdown-image{
  height: auto;
  // max-height: 70%;
  margin: 0 auto;
  width: 70%;
  object-fit: contain;
  object-position: center;
}

.navmenu-link-item-subdropdown-item{
  padding: 8px 16px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  height: 100%;

  background-color: #FFFFFF;
  color: #000000;
}

.navmenu-link-item-subdropdown-item:hover {
  background-color: #F7CB3D;
  color: #FFFFFF;
}

.navmenu-link-item-dropdown:hover {
  .navmenu-link-item-dropdown-item {
    // color: #FFFFFF !important;
  }
}

.navmenu-link-item-subdropdown-item:hover {
  .navmenu-link-item-dropdown-item {

  }
}

.navmenu-link-item-dropdown-title{
  font-size: 16px;
  // margin-top: 34px;
  margin-bottom: 0px;
}