.footer-contain{
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    margin: auto;
    // background-image: url('/static/image/footer-background.svg');
    // margin-top: 24px;
    // margin-top: -20px;
    flex-wrap: wrap;
    // background-size: cover;
    // background-position: top;
    background-color: #000000;

    .footer-under-central-contain{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        position: relative;
        @media(max-width: 768px) {
            display: block;
        }
    }
}

.footer-contain > *{
    display: flex;
    // padding: 0 16px;
    max-width: 1200px;
    width: 100%;
    margin: auto;

    // &:not(:first-child){
    //     padding-left: 8px;
    // }

    // &:not(:last-child){
    //     padding-right: 8px;
    // }

    &.central-logo-info-company{
        flex-direction: column;
        flex: 0 0 100%;

        .company-logo-contain{
            display: flex;
            align-items: center;
            justify-content: center;

            .footer-company-logo{
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .footer-company-logo-v2{
                margin-bottom: 40px;
                @media (min-width: 769px) {
                    display: none;
                }
                @media (max-width: 768px) {
                    display: block;
                }
            }
        }

        .company-infomation-texts-contain{
            text-align: center;
        }
    }

    &.footer-under-central-contain {
        > div {
            flex: 0 0 25%;
            display: flex;
            flex-direction: column;
        }
        > div:last-child {
            flex: 0 0 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media(max-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
        }
        .box-footer-cms {
            @media(max-width: 768px) {
                margin-top: 32px;
                > div {
                    flex: 0 0 100%;
                }
            }

            .nav-links-block {
                @media(max-width: 768px) {
                    flex: 0 0 50%;
                }   
            }
            .customers-support-block {
                @media(max-width: 768px) {
                    display: flex;
                    flex: 0 0 50%;
                    justify-content: flex-end;
                }
            }
        }
        .image-logo-footer {
            .icon-about-us {
                position: absolute;
                right: 44px;
                top: 60%;
            }
            @media(max-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-about-us {
                    position: absolute;
                    right: 20px;
                    bottom: 0;
                }
            }
        }
    }
}


.company-infomation-block{

}

.company-infomation-texts-contain{
    margin-bottom: 34px;
}

.company-infomation-texts-contain > *{
    margin: 0px;
}

.company-infomation-texts-contain .company-name{
    font-weight: bold;
    font-size: 14px;
}

.company-infomation-texts-contain .company-quote{
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

.company-contact-block{
    display: flex;
    flex-direction: column;
}

.company-contact-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #F6CA3D;
    @media(max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
    }
}

.company-contact-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    > li {
        margin-bottom: 12px;
    }
    > li:last-child {
        margin-bottom: 0;        
    }
    > li > a {
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none; 
        @media(max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.company-contact-block .company-contact-item-icon{
    margin-right: 16px;
}

.company-contact-block .company-contact-item-text{
    height: 100%;
    
}

.company-contact-block .company-contact-item{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    color: #000000ab !important;
    // text-decoration: none !important;
}

.company-contact-block .company-contact-item:not(:last-child){
    margin-bottom: 12px;
}

.nav-links-block{
    flex: 0.5;
    align-items: center;
}

.nav-links-block .nav-link-item{
    color: #000000ab;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    width: 50%;

    &:last-child{
        margin-bottom: 0px;
    }
}

.nav-links-block .nav-link-item-icon{
    margin-right: 12px;
}

.customers-support-block{

    color: #000000ab;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    &> .customers-support-item-contain{
        margin: 0;

        &>.customers-support-item:not(:last-child){
            margin-right: 16px;
        }

    }

    .footer-block-title{
        margin-bottom: 24px;
    }

    &:not(:last-child){
        margin-bottom: 8px;
    }

}


.footer-block-title{
    font-weight: 600;
    font-size: 16px;
    color: #000000ab;
    line-height: 24px;
    margin-bottom: 16px;
    margin: 0;

}

.certificate-block{

    .certificate-item:not(:last-child){
        margin-bottom: 32px;
    }

    img{
        width: 160px;
        height: auto;
    }

}


.copyright{
    margin-top: -1px;
    background: #000000;
    font-size: 14px;
    line-height: 19px;
    color: #A6A6A6;
    text-align: center;
    padding: 0;
    padding-bottom: 38px;
}

@media(max-width: 1080px){
    .footer-contain{
        flex-direction: column;
        padding: 32px 0;

        &>*{
            padding: 0 20px;
        }

        .central-logo-info-company{
            padding: 0 8px;
            
            .company-infomation-texts-contain{
                margin-bottom: 24px;

                .company-name{
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 24px;
                }

                .company-quote{
                    font-size: 11px;
                }
            }
        }

        .footer-under-central-contain {

            &> *{
                flex: 0 50%;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .company-infomation-block{
                flex: 0 100% !important;
                order: 0;
                margin-top: 0px;
                margin-bottom: 32px;
            }

            .nav-links-block{
                align-items: flex-start;
        
                .nav-link-item{
                    width: 100%;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 24px;

                    .nav-link-item-icon{
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                    }
                }
            }

            .customers-support-block{
                .footer-block-title{
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 24px;
                    margin-bottom: 12px;
                }
            }

        }

    }

    .copyright {
        padding: 12px 0px;
        @media(max-width: 768px) {
            padding: 12px 20px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    
}

.icon-about-us {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        margin-right: 16px;
    }
    > div:last-child {
        margin-right: 0;
    }
    > div > a > img {
        @media(max-width: 768px) {
            height: 24px;
            width: auto;
        }
    }
}