@import 'tocbot/src/scss/tocbot';

:root {
  --primaryOrange: #f6ca3d;
  --divideOrange: #ffd54c;
  --textWhite: #ffffff;
  --blackColor: #212529;
  --headerBackground: var(--primaryGreen);
  --headerGray: #adadad;
  --hoverNavbarItemBackground: #315907;
  --mobileWidth: 1080px;
  --submenuTextColorHeader: #6ca12c;
  --primaryColorText: var(--submenuTextColorHeader);
  --greenButtonBackground: var(--primaryGreen);
  --greenButtonTextColor: var(--commonWhite);
  --whiteButtonBackground: var(--commonWhite);
  --whiteButtonTextColor: var(--primaryGreen);
}

body {
  margin: 0px;
  font-family: "Noto Serif", serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.header-contain {
  background: #ffffff;
  height: 40px;
  width: 100%;
  position: relative;
  // display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(51, 51, 51, 0.05);
  border-bottom: 1px solid rgba(51, 51, 51, 0.05);
  @media (max-width: 1080px) {
    display: flex;
  }
  @media (max-width: 768px) {
    border: none;
    margin-bottom: 16px;
  }
}

.header-contain > * {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.logo-contain-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0.5;
  z-index: 11;
}

.logo-contain-section > *:not(:first-child) {
  // margin-left: 8px;
}

.mobile-header {
  display: none !important;
}

.button-link-atag {
  padding: 12px 38px;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 32px;

  &:hover {
    opacity: 0.6;
  }
}

.button-link-atag.green-button {
  background-color: var(--greenButtonBackground);
  color: var(--greenButtonTextColor);
}

.button-link-atag.white-button {
  background-color: var(--whiteButtonBackground);
  border-color: var(--whiteButtonTextColor);
  color: var(--whiteButtonTextColor);
}

.section-title-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    height: auto;
    max-width: 800px;
    // max-height: 80px;
    height: auto;
  }
}

.under-section-title-subtitle {
  font-weight: 900;
  font-size: 25px;
  line-height: 34px;
  color: #3cac48;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.section-viewmore-button-atag {
  border: 1px solid #757575;
  color: #757575 !important;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-radius: 10px;
  text-decoration: none !important;
  max-width: 410px;
  min-width: 10vw;
  text-align: center;
  margin: auto;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1080px) {
  .header-contain > * {
    margin: 0 20px;
  }

  .logo-image {
    height: 36px;
    width: auto;
    object-fit: contain;
    object-position: center;
  }

  .logo-tagline {
    height: 36px;
    width: auto;
  }

  .desktop-header {
    display: none !important;
  }

  .mobile-header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
}

// .image-optimize-tag-link {
//   display: inline-block;
//   > * {
//     position: unset;
//   }
// }

.image-optimize {
  width: 100%;
  height: 100%;
}

.product-list-page-contain {
  padding-bottom: 80px;

  @media (max-width: 768px) {
    padding-bottom: 60px;
  }
}

.header-desktop {
  @media (max-width: 1080px) {
    display: none;
  }
  .menu-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .menu-link-contain {
      display: flex;
      align-items: center;
      // justify-content: flex-end;
      height: 100%;
      width: 100%;
      .dropdown-nav {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        margin-left: 5%;
        border-bottom: 2px solid transparent;
        white-space: nowrap;
        .caret-custom {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px dashed;
          border-right: 4px solid #FFFFFF;
          border-left: 4px solid #FFFFFF;
          margin-left: 8px;
        }
        &:hover {
          border-bottom: 2px solid #ffb935;
          .caret-custom {
            border-top: 4px dashed #ffb935;
          }
        }
        @media (max-width: 1366px) {
          margin-left: 24px;
        }
        @media (max-width: 1280px) {
          margin-left: 16px;
        }
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          .dropdown-nav-toggle {
            .item-link-text {
              color: var(--primaryOrange);
            }
            .dropdown-nav-caret-icons {
              transform: rotate(180deg);
              color: var(--primaryOrange);
            }
          }
          .dropdown-nav-menu {
            z-index: 100;
            opacity: 1;
          }
        }
        .dropdown-nav-toggle {
          position: relative;
          // padding-right: 20px;
          .menu-link-item {
            margin: 0;
            display: flex;
            align-items: center;
            color: #000000 !important;
            text-decoration: none;
            cursor: pointer;
            position: relative;
            z-index: 11;
            .item-link-text {
              line-height: 19px;
              font-weight: bold;
              font-size: 14px;
            }
          }
          .dropdown-nav-caret-icons {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            transition: transform 0.2s ease-in-out;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .dropdown-nav-menu {
          position: absolute;
          top: 100%;
          // min-width: 280px;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          &.bottom {
            // top: 24px;
            top: 40px;
            // padding-top: 12px;
            padding-bottom: 12px;
          }
          &.navmenu-link-item-dropdown {
            background: #ffffff;
            display: flex;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            // right: 0;
          }
          .box-nav-menu-link {
            .box-menu-title {
              padding: 0 16px;
              .nav-menu-title {
                font-size: 14px;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 4px;
                line-height: 19px;
                font-weight: 600;
                // padding-left: 16px;
                border-bottom: 1px solid #f6ca3d;
                // text-align: center;
                .nav-menu-title-link {
                  color: #000000;
                  &:hover {
                    text-decoration: none;
                    color: var(--primaryOrange);
                  }
                }
              }
            }
            .dropdown-nav-item {
              min-width: 15em;
              &:hover {
                background: #f7cb3d;
                color: #ffffff;
                .navmenu-link-item-dropdown-item {
                  text-decoration: none;
                  .dropdown-item-text {
                    color: var(--textWhite);
                  }
                }
              }
              .navmenu-link-item-dropdown-item {
                padding: 8px 16px;
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.8);
                cursor: pointer;
                width: 100%;
                .dropdown-item-text {
                  font-size: 14px;
                  margin-top: 0px;
                  margin-bottom: 0px;
                  line-height: 19px;
                  font-weight: 400;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-link-contain {
  @media (max-width: 1080px) {
    display: none !important;
  }
}

.mobile-memu-item-contain {
  @media (min-width: 1081px) {
    display: none !important;
  }
}
.col-bank {
  a {
    color: var(--blackColor);
  }
}

.layout {
  // max-width: 1440px !important;
  // margin: 0 auto !important;
  // width: 100% !important;
  // @media(max-width: 1280px) {
  //   max-width: 1200px !important;
  // }
  // @media(max-width: 415px) {
  //   max-width: 414px !important;
  // }
}
.list-menu-parent-container {
  margin: 0;
  padding: 0;
  list-style: none;
  .menu-parent-item {
    display: table-cell;
    min-width: 160px;
    .menu-parent-item-container {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          display: block;
          padding: 0 20px;
          clear: both;
          font-weight: 400;
          color: #333;
          white-space: nowrap;
          text-decoration: none;
          line-height: 36px;
          &:hover {
            background-color: #f2f9ff;
            color: #262626;
          }
          > span {
            vertical-align: middle;
            display: inline-block;
          }
          .icon-list-bank {
            width: 16px;
            height: 16px;
            margin-right: 6px;
            background: url(../public/images/list-bank-image.png) 0 0;
            background-size: 112px;
            &.ngan-hang-vietcombank {
              background-position: -96px -16px;
            }
            &.ngan-hang-acb {
              background-position: -0 -16px;
            }
            &.ngan-hang-agribank {
              background-position: -16px -16px;
            }
            &.ngan-hang-bidv {
              background-position: -32px -16px;
            }
            &.ngan-hang-vietinbank {
              background-position: -96px -32px;
            }
            &.ngan-hang-sacombank {
              background-position: -80px -0;
            }
            &.ngan-hang-vpbank {
              background-position: -96px -48px;
            }
            &.ngan-hang-hsbc {
              background-position: -0 -48px;
            }
            &.ngan-hang-donga-bank {
              background-position: -16px -32px;
            }
            &.ngan-hang-tpbank {
              background-position: -16px -80px;
            }
            &.ngan-hang-eximbank {
              background-position: -32px -32px;
            }
            &.ngan-hang-vib {
              background-position: -48px -80px;
            }
            &.ngan-hang-shb {
              background-position: -80px -64px;
            }
            &.ngan-hang-ocb {
              background-position: -0 -64px;
            }
            &.ngan-hang-vietbank {
              background-position: -80px -80px;
            }
            &.ngan-hang-scb {
              background-position: -80px -32px;
            }
            &.ngan-hang-msb {
              background-position: -64px -16px;
            }
            &.ngan-hang-pg-bank {
              background-position: -32px -64px;
            }
            &.ngan-hang-abbank {
              background-position: -16px -0;
            }
            &.ngan-hang-techcombank {
              background-position: -0 -80px;
            }
            &.ngan-hang-mbbank {
              background-position: -64px -0;
            }
            &.ngan-hang-lienvietpostbank {
              background-position: -48px -48px;
            }
            &.ngan-hang-seabank {
              background-position: -80px -48px;
            }
            &.ngan-hang-pvcombank {
              background-position: -64px -64px;
            }
            &.ngan-hang-nam-a-bank {
              background-position: -64px -32px;
            }
            &.ngan-hang-saigonbank {
              background-position: -80px -16px;
            }
            &.ngan-hang-hdbank {
              background-position: -48px -16px;
            }
            &.ngan-hang-vietabank {
              background-position: -64px -80px;
            }
            &.ngan-hang-gpbank {
              background-position: -48px -0;
            }
            &.ngan-hang-ncb {
              background-position: -64px -48px;
            }
            &.ngan-hang-kienlong-bank {
              background-position: -32px -48px;
            }
            &.ngan-hang-oceanbank {
              background-position: -16px -64px;
            }
            &.ngan-hang-baoviet-bank {
              background-position: -32px -0;
            }
            &.ngan-hang-public-bank-vit-nam {
              background-position: -48px -64px;
            }
            &.ngan-hang-indovina-bank {
              background-position: -16px -48px;
            }
            &.ngan-hang-vrb {
              background-position: -96px -64px;
            }
            &.ngan-hang-hongleong-bank {
              background-position: -48px -32px;
            }
          }
        }
      }
    }
  }
}