.block-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: calc(100% - 48px);
}

#mobileMenuToggle
{
    display: block;
    position: relative;
    
    z-index: 10;
    
    -webkit-user-select: none;
    user-select: none;
}


#mobileMenuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
}

/*
    * Just a quick hamburger
    */
#mobileMenuToggle > span
{
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    
    background: rgba(80, 80, 80, 0.67);;
    border-radius: 3px;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.2s cubic-bezier(0.77,0.2,0.05,1.0)
}

/* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
#mobileMenuToggle input:checked ~ span.first-burger-piece
{
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
}

#mobileMenuToggle input:checked ~ span.second-burger-piece
    {
        opacity: 0;
    }

#mobileMenuToggle input:checked ~ span.third-burger-piece
    {
        transform: rotate(-45deg) translate(0, -3px);
    }



/*
    * Make this absolute positioned
    * at the top left of the screen
    */
.mobileMenu
{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform: translate(0, 65px);
    
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    height: 0px;
    overflow: hidden;

    /* padding: 0 50px; */
}

.mobileMenu .mobileMenuItem{
    display: flex;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 12px 0;
    // border-bottom: 1px solid #E8E8E8;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.mobileMenu .mobileMenuItemText{
    margin: 0px;
    margin-left: 10px;
    color: rgba(80, 80, 80, 0.67);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none !important;
}


.mobileSubmenu{
    // width: 90%;
    width: calc(100% - 40px);
    margin: 0 auto;
    // border-bottom: 1px solid #E8E8E8;
}

.mobileSubmenu .mobileSubmenuToggle{
    width: 100%;
    border-bottom: none;
}

.mobileSubmenu .material-icons{
    transition: transform 0.3s ease-in-out;
}

.mobileSubmenuList{
    display: flex;
    flex-direction: column;
    color: var(--submenuTextColorHeader);
    overflow: hidden;
    height: 0px;
    transition: height 0.2s ease-in-out;
    // width: 90%;
    width: 100%;
    margin-left: auto;
}

.mobileSubmenuList.open{
    height: 100%;
}

.mobileSubmenuItem{
    margin-bottom: 16px;
    color: rgba(80, 80, 80, 0.67) !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none !important;
}

/*
    * And let's slide it in from the left
    */
#mobileMenuToggle input:checked ~ #menu
{
    padding-top: 30px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 65px;
    /* transform: none; */
}

.box-search-mobile {
    @media(min-width: 769px) {
        display: none;
    }
    @media(max-width: 768px) {
        display: block;
        margin: 0 20px;
        margin-bottom: 25px;
        position: relative;
        .search-icon-mobile-header {
            position: absolute;
            top: 8px;
            left: 16px;
        }
    }
}
.input-search-mobile {
    width: 100%;
    min-height: 32px;
    border: 1px solid rgba(80, 80, 80, 0.67);
    border-radius: 32px;
    padding-left: 40px;
}

.input-search-mobile:focus {
    outline: none;
}

.mobileMenu {
  padding-top: 0 !important;
  .mobile-memu-item-contain {
    .memu-item-contain-link {
      margin: 0;
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F4F4F4;
      border: 1px solid #ECECEC;
      &.active-item-parent {
        background: #FFDE75;
        border: 1px solid transparent;
        .material-icons {
          transform: rotate( 180deg );
        }
      }
      .item-link-text {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }
      .material-icons {
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        transition: transform 0.2s ease-in-out;
      }
    }
    .sub-item-contain {
      max-height: 0;
      height: auto;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      // overflow: hidden;
      // overflow-y: scroll;
      transition: all 0.4s ease 0s;
      &.active-sub-item {
        // max-height: 500px;
        max-height: unset;
        opacity: 1;
        visibility: visible;
        background-color: #FFDE75;
        padding: 0 12px;
      }
      .sub-item-box {
        border: 1px solid #ECECEC;
        background-color: #FFFFFF;
        border-radius: 4px;
        padding: 8px 16px;
        &:first-child {
          border: none;
        }
        > a {
          height: 44px;
          border-bottom: 1px solid #ECECEC;
          &:first-child {
            // border: none;
          }
        }
        .child-item-custom {
          padding: 0;
        }
        .sub-item-contain-link {
          margin: 0;
          padding: 0;
          // padding-right: 20px;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          font-size: 13px;
          line-height: 36px;
          color: rgba(0, 0, 0, 0.8);
          .material-icons {
            color: rgba(0, 0, 0, 0.8);
            font-size: 20px;
            transition: transform 0.2s ease-in-out;
          }
          &:nth-child(odd) {
            padding-left: 0px;
          }
          > a {
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.8);
            // width: 100%;
          }
          &.active-item-sub {
            .material-icons {
              transform: rotate( 180deg );
            }
          }
        }
        .item-child-box {
          max-height: 0;
          height: auto;
          opacity: 0;
          z-index: -1;
          overflow: hidden;
          &.active-child-box {
            max-height: 500px;
            opacity: 1;
            transition: all 0.4s ease 0s;
          }
          .item-child-box-item {
            margin: 0;
            padding: 8px 80px;
            padding-right: 20px;
            > a {
              font-size: 14px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
    }
    &:last-child {
      .sub-item-contain {
        &.active-sub-item {
          padding-bottom: 24px;
        }
      }
    }
  }
}

#menu {
  .menu-section {
    height: 100Vh;
    overflow-y: auto;
  }
}

.icon-list-bank {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url(../public/images/list-bank-image.png) 0 0;
  background-size: 112px;
  &.ngan-hang-vietcombank {
    background-position: -96px -16px;
  }
  &.ngan-hang-acb {
    background-position: -0 -16px;
  }
  &.ngan-hang-agribank {
    background-position: -16px -16px;
  }
  &.ngan-hang-bidv {
    background-position: -32px -16px;
  }
  &.ngan-hang-vietinbank {
    background-position: -96px -32px;
  }
  &.ngan-hang-sacombank {
    background-position: -80px -0;
  }
  &.ngan-hang-vpbank {
    background-position: -96px -48px;
  }
  &.ngan-hang-hsbc {
    background-position: -0 -48px;
  }
  &.ngan-hang-donga-bank {
    background-position: -16px -32px;
  }
  &.ngan-hang-tpbank {
    background-position: -16px -80px;
  }
  &.ngan-hang-eximbank {
    background-position: -32px -32px;
  }
  &.ngan-hang-vib {
    background-position: -48px -80px;
  }
  &.ngan-hang-shb {
    background-position: -80px -64px;
  }
  &.ngan-hang-ocb {
    background-position: -0 -64px;
  }
  &.ngan-hang-vietbank {
    background-position: -80px -80px;
  }
  &.ngan-hang-scb {
    background-position: -80px -32px;
  }
  &.ngan-hang-msb {
    background-position: -64px -16px;
  }
  &.ngan-hang-pg-bank {
    background-position: -32px -64px;
  }
  &.ngan-hang-abbank {
    background-position: -16px -0;
  }
  &.ngan-hang-techcombank {
    background-position: -0 -80px;
  }
  &.ngan-hang-mbbank {
    background-position: -64px -0;
  }
  &.ngan-hang-lienvietpostbank {
    background-position: -48px -48px;
  }
  &.ngan-hang-seabank {
    background-position: -80px -48px;
  }
  &.ngan-hang-pvcombank {
    background-position: -64px -64px;
  }
  &.ngan-hang-nam-a-bank {
    background-position: -64px -32px;
  }
  &.ngan-hang-saigonbank {
    background-position: -80px -16px;
  }
  &.ngan-hang-hdbank {
    background-position: -48px -16px;
  }
  &.ngan-hang-vietabank {
    background-position: -64px -80px;
  }
  &.ngan-hang-gpbank {
    background-position: -48px -0;
  }
  &.ngan-hang-ncb {
    background-position: -64px -48px;
  }
  &.ngan-hang-kienlong-bank {
    background-position: -32px -48px;
  }
  &.ngan-hang-oceanbank {
    background-position: -16px -64px;
  }
  &.ngan-hang-baoviet-bank {
    background-position: -32px -0;
  }
  &.ngan-hang-public-bank-vit-nam {
    background-position: -48px -64px;
  }
  &.ngan-hang-indovina-bank {
    background-position: -16px -48px;
  }
  &.ngan-hang-vrb {
    background-position: -96px -64px;
  }
  &.ngan-hang-hongleong-bank {
    background-position: -48px -32px;
  }
}